.content .markdown-body {
  color: $text-gray;

  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}

.markdown-toc-header {
  position: fixed;
}

.markdown-toc-content {
  position: absolute;
  li a {
    color: $concur-link-color;
  }
}

.markdown-body {
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  table > thead > tr > th,
  table > tbody > tr > th,
  table > tfoot > tr > th,
  table > thead > tr > td,
  table > tbody > tr > td,
  table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }

  table > caption + thead > tr:first-child > th,
  table > colgroup + thead > tr:first-child > th,
  table > thead:first-child > tr:first-child > th,
  table > caption + thead > tr:first-child > td,
  table > colgroup + thead > tr:first-child > td,
  table > thead:first-child > tr:first-child > td {
    border-top: 0;
  }

  table > tbody + tbody {
    border-top: 2px solid #ddd;
  }

  li a {
    color: $concur-link-color;
  }
}


.toc{
  overflow-y:auto
}
.toc>.toc-list{
  overflow:hidden;
  position:relative
}
.toc>.toc-list li{
  list-style:none
}
.toc-list{
  margin:0;
  padding-left:20px
}
a.toc-link{
  color:currentColor;
  height:100%
}
.is-collapsible{
  max-height:1000px;
  overflow:hidden;
  transition:all 100ms ease-in-out
}
.is-collapsed{
  max-height:0
}
.is-position-fixed{
  position:fixed !important;
  top:0
}
.is-active-link{
  font-weight:700
}
