<footer class="hidden-print"
        id="footer">
  <div class="col-md-8 footer-copyright">
    <p>
      &copy;
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      All Rights Reserved.
      <a href="https://www.concur.com/en-us/privacy-policy">Privacy Policy</a> |
      <a href="{{ site.baseurl }}/terms-of-use-2021.html">Terms of Use</a> |
      <a href="{{ site.baseurl }}/tools-support/deprecation-policy.html">API Deprecation Policy</a> |
      <a href="{{ site.repository_url }}{{ page.path }}">Edit this page on GitHub</a>
    </p>
  </div>

  <!-- Social Links -->
  <div class="col-md-4 footer-social">
    <ul class="list-inline social-icons">
      <li>
        <a href="https://www.facebook.com/SAPConcur"
           target="_blank">
          <span class="sr-only">Facebook</span>
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/5822"
           target="_blank">
          <span class="sr-only">LinkedIn</span>
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/sapconcur"
           target="_blank">
          <span class="sr-only">Twitter</span>
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PLLNSVdjqNPVseaDkR5hSF4CDjnlLK7_nq"
           target="_blank">
          <span class="sr-only">Youtube</span>
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- End Social Links -->
</footer>
<!--/.footer-->
