

{% if site.data.branch.branchname != 'livesite' %}
  <title> SAP Concur Developer Center | {{ page.title }}</title>
{% else %}
  <title>SAP Concur Developer Center | {{ page.title }}</title>
{% endif %}

<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The starting point for anyone interested in building anything with the Concur platform that reaches 45 million business travelers.">
<meta name="author" content="">

{% if site.data.branch.branchname != 'livesite' %}
  <meta name="robots" content="noindex">
{% endif %}

<!-- Sitemap link -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ site.baseurl }}/sitemap.xml" />

<!-- Favicon -->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/concur_favicon.ico" type="image/png">

<!-- Adobe Analytics Global-->
<script src="https://assets.adobedtm.com/e1226b306979/aeb854337dc8/launch-570f1f40d72e-development.min.js" async></script> 

<!-- Canonical link-->
<link rel="canonical" href="{{ site.canonical_site | append: page.url }}" data-proofer-ignore>

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/plugins/font-awesome/css/all.min.css">

{% if page.reference-type == 'swagger' %}
  <link href="{{ site.baseurl }}/swagger-ui/css/typography.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/swagger-ui/css/screen.css" media="screen" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/swagger-ui/css/print.css" media="print" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/swagger-ui/css/style.css" media="screen" rel="stylesheet" type="text/css">
  <!-- <link href="{{ site.baseurl }}/swagger-ui/css/ecebook.css" rel="stylesheet" type="text/css"/> -->
{% endif %}

<link rel="alternate" type="application/rss+xml" title="SAP Concur Developer Center RSS" href="/feed.xml" />

<script>
  // Adobe Analytics Instantiating Pageview Variables
  var appMeasurement = new AppMeasurement()
  var newDate = new Date();
  var date = newDate.getDate();
  var month = newDate.getMonth()+1;
  var year = newDate.getFullYear();
  var hour = newDate.getHours();
  var minutes= newDate.getMinutes();
  var seconds= newDate.getSeconds();

  window.adobeDataLayer = window.adobeDataLayer || [];adobeDataLayer.push({event:"pageView",pageName:(location.pathname),productDataCenterSiteTypeOs:"dce:na:web:web",hostname:(location.hostname),pageTitle:(document.title),userAgentString:(navigator.userAgent),timestamp:(+date+'/'+month+'/'+year+' '+hour+':'+minutes+':'+seconds),language:(navigator.language),pageUri:(location.pathname)});
</script>

