<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- forms -->
<script src="{{ site.baseurl }}/assets/plugins/sky-forms/version-2.0.1/js/jquery.validate.min.js"></script>
<script src="{{ site.baseurl }}/assets/plugins/sky-forms/version-2.0.1/js/jquery.form.min.js"></script>

<!-- Swagger -->
<!-- <script src="/swagger-ui/lib/jquery-1.8.0.min.js" type="text/javascript"></script> -->

{% if site.data.branch.branchname == 'preview' %}
  {% assign URL = 'preview.developer.concur.com/api-explorer-proxy' %}
{% else %}
  {% assign URL = 'developer.concur.com/api-explorer-proxy' %}
{% endif %}

<script>
  var replacementURL = "{{ URL }}";
</script>

{% if page.reference-type == 'swagger' %}
  <script src="{{ site.baseurl }}/swagger-ui/lib/jquery.slideto.min.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/lib/jquery.wiggle.min.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/lib/jquery.ba-bbq.min.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/lib/handlebars-2.0.0.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/lib/underscore-min.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/lib/backbone-min.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/swagger-ui.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/lib/highlight.7.3.pack.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/lib/marked.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/swagger-ui/lib/swagger-oauth.js" type="text/javascript"></script>
  <script src="{{ site.baseurl }}/assets/js/swagger.js"></script>
{% endif %}

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/app.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();
  });
</script>

<script>
  var oHeader = document.getElementById("header-navbar");
  var oContent = document.getElementById("main-content");
  var oFooter = document.getElementById("footer");

  // Set content overall height
  var iNewHeight = oContent.offsetHeight - (oHeader.offsetHeight + oFooter.offsetHeight);
  var sHeight = "" + iNewHeight + "px";
  oContent.style.height = sHeight;

  // Set Triple component heights.
  // var oBreadcrumb = document.getElementById("breadcrumbs");
  var oLeftNav = document.getElementById("left-navigation");
  var oMDContent = document.getElementById("markdown-body");
  var oMDToc = document.getElementById("markdown-toc");
  var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)

  // Widths are 2-8-2 or 2-10 if no MDToc
  var sWidth;
  if (vw < 989 && !!oLeftNav) {
    oLeftNav.style.height = 100;
    sWidth = "" + (window.innerWidth * 0.950) + "px";
    oLeftNav.style.maxWidth = sWidth;
  } else {
    oLeftNav.style.height = sHeight;
    sWidth = "" + (window.innerWidth * 0.166) + "px";
    oLeftNav.style.maxWidth = sWidth;
  }
  if (!!oMDContent) {
    oMDContent.style.height = sHeight;
    if (!!oMDToc) {
      // 8 / 12
      sWidth = "" + (window.innerWidth *0.66) + "px";
      oMDContent.style.maxWidth = sWidth;
    } else {
      // 10 / 12
      oMDContent.style.maxWidth = window.innerWidth * 0.833;
      sWidth = "" + (window.innerWidth * 0.833) + "px";
      oMDContent.style.maxWidth = sWidth;
    }
  }
  if (!!oMDToc) {
    oMDToc.style.height = sHeight;
    sWidth = "" + (window.innerWidth * 0.166) + "px";
    oMDToc.style.maxWidth = sWidth;
    }
  }
</script>
