{
  "openapi": "3.0.1",
  "info": {
    "title": "Financial Integration Service",
    "description": "Allows an external system to interact with financial documents generated from SAP Concur, for financial posting into an ERP.  Provides an automated solution to request available data objects such as approved expense reports, cash advances, and invoices to import to the client internal system, with an opportunity to send posting confirmation back into SAP Concur before the object is locked down and cannot be altered in SAP Concur.",
    "version": "4.0"
  },
  "externalDocs": {
    "description": "Financial Integration Service v4 - Getting Started",
    "url": "https://developer.concur.com/api-reference/financial-integration/v4.financial-integration.html"
  },
  "servers": [
    {
      "url": "https://us2.api.concursolutions.com/api/v4.0",
      "description": "Production endpoint (US)"
    }
  ],
  "tags": [
    {
      "name": "Financial Transactions",
      "description": "Interacting with financial documents generated from Concur."
    }
  ],
  "paths": {
    "/fi/v4/companies/transactiontypes/{docType}/transactions/postingconfirmations": {
      "post": {
        "tags": [
          "Financial Transactions"
        ],
        "summary": "Confirms results of financial transactions posting.",
        "description": "This API allows financial posting results to be sent to Concur.",
        "operationId": "postErpPostingConfirmations",
        "parameters": [
          {
            "name": "concur-route",
            "in": "header",
            "description": "Concur Route",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docType",
            "in": "path",
            "description": "Doc Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "expense",
                "invoice",
                "cashadvance",
                "payroll",
                "obligation",
                "requestobligation",
                "reportobligation"
              ]
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Posting Confirmation Request",
            "schema": {
              "type": "object",
              "properties": {
                "cookies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "comment": {
                        "type": "string"
                      },
                      "domain": {
                        "type": "string"
                      },
                      "maxAge": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "path": {
                        "type": "string"
                      },
                      "secure": {
                        "type": "boolean"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "httpOnly": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "session": {
                  "type": "object",
                  "properties": {
                    "creationTime": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "attributeNames": {
                      "type": "object"
                    },
                    "servletContext": {
                      "type": "object",
                      "properties": {
                        "majorVersion": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "minorVersion": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "sessionTimeout": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "attributeNames": {
                          "type": "object"
                        },
                        "serverInfo": {
                          "type": "string"
                        },
                        "initParameterNames": {
                          "type": "object"
                        },
                        "servletContextName": {
                          "type": "string"
                        },
                        "contextPath": {
                          "type": "string"
                        },
                        "servletNames": {
                          "type": "object",
                          "deprecated": true
                        },
                        "effectiveMajorVersion": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "effectiveMinorVersion": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "servlets": {
                          "type": "object",
                          "deprecated": true
                        },
                        "servletRegistrations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "mappings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "runAsRole": {
                                "type": "string"
                              },
                              "initParameters": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "filterRegistrations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "servletNameMappings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "urlPatternMappings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "initParameters": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "sessionCookieConfig": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string"
                            },
                            "secure": {
                              "type": "boolean"
                            },
                            "comment": {
                              "type": "string"
                            },
                            "path": {
                              "type": "string"
                            },
                            "maxAge": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "httpOnly": {
                              "type": "boolean"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "sessionTrackingModes": {
                          "uniqueItems": true,
                          "type": "array",
                          "writeOnly": true,
                          "items": {
                            "type": "string",
                            "enum": [
                              "COOKIE",
                              "URL",
                              "SSL"
                            ]
                          }
                        },
                        "defaultSessionTrackingModes": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "COOKIE",
                              "URL",
                              "SSL"
                            ]
                          }
                        },
                        "effectiveSessionTrackingModes": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "COOKIE",
                              "URL",
                              "SSL"
                            ]
                          }
                        },
                        "jspConfigDescriptor": {
                          "type": "object",
                          "properties": {
                            "taglibs": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "taglibURI": {
                                    "type": "string"
                                  },
                                  "taglibLocation": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "jspPropertyGroups": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "elIgnored": {
                                    "type": "string"
                                  },
                                  "scriptingInvalid": {
                                    "type": "string"
                                  },
                                  "pageEncoding": {
                                    "type": "string"
                                  },
                                  "isXml": {
                                    "type": "string"
                                  },
                                  "includePreludes": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "includeCodas": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "deferredSyntaxAllowedAsLiteral": {
                                    "type": "string"
                                  },
                                  "trimDirectiveWhitespaces": {
                                    "type": "string"
                                  },
                                  "errorOnUndeclaredNamespace": {
                                    "type": "string"
                                  },
                                  "buffer": {
                                    "type": "string"
                                  },
                                  "defaultContentType": {
                                    "type": "string"
                                  },
                                  "urlPatterns": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "virtualServerName": {
                          "type": "string"
                        },
                        "requestCharacterEncoding": {
                          "type": "string"
                        },
                        "responseCharacterEncoding": {
                          "type": "string"
                        },
                        "classLoader": {
                          "type": "object",
                          "properties": {
                            "parent": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "unnamedModule": {
                                  "type": "object",
                                  "properties": {
                                    "layer": {
                                      "type": "object"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "descriptor": {
                                      "type": "object",
                                      "properties": {
                                        "open": {
                                          "type": "boolean"
                                        },
                                        "automatic": {
                                          "type": "boolean"
                                        }
                                      }
                                    },
                                    "named": {
                                      "type": "boolean"
                                    },
                                    "annotations": {
                                      "type": "array",
                                      "items": {
                                        "type": "object"
                                      }
                                    },
                                    "declaredAnnotations": {
                                      "type": "array",
                                      "items": {
                                        "type": "object"
                                      }
                                    },
                                    "packages": {
                                      "uniqueItems": true,
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "defaultAssertionStatus": {
                                  "type": "boolean",
                                  "writeOnly": true
                                },
                                "registeredAsParallelCapable": {
                                  "type": "boolean"
                                },
                                "definedPackages": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "specificationTitle": {
                                        "type": "string"
                                      },
                                      "specificationVersion": {
                                        "type": "string"
                                      },
                                      "specificationVendor": {
                                        "type": "string"
                                      },
                                      "implementationTitle": {
                                        "type": "string"
                                      },
                                      "implementationVersion": {
                                        "type": "string"
                                      },
                                      "implementationVendor": {
                                        "type": "string"
                                      },
                                      "annotations": {
                                        "type": "array",
                                        "items": {
                                          "type": "object"
                                        }
                                      },
                                      "declaredAnnotations": {
                                        "type": "array",
                                        "items": {
                                          "type": "object"
                                        }
                                      },
                                      "sealed": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "name": {
                              "type": "string"
                            },
                            "unnamedModule": {
                              "type": "object",
                              "properties": {
                                "layer": {
                                  "type": "object"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "descriptor": {
                                  "type": "object",
                                  "properties": {
                                    "open": {
                                      "type": "boolean"
                                    },
                                    "automatic": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "named": {
                                  "type": "boolean"
                                },
                                "annotations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "declaredAnnotations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "packages": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "defaultAssertionStatus": {
                              "type": "boolean",
                              "writeOnly": true
                            },
                            "registeredAsParallelCapable": {
                              "type": "boolean"
                            },
                            "definedPackages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "specificationTitle": {
                                    "type": "string"
                                  },
                                  "specificationVersion": {
                                    "type": "string"
                                  },
                                  "specificationVendor": {
                                    "type": "string"
                                  },
                                  "implementationTitle": {
                                    "type": "string"
                                  },
                                  "implementationVersion": {
                                    "type": "string"
                                  },
                                  "implementationVendor": {
                                    "type": "string"
                                  },
                                  "annotations": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    }
                                  },
                                  "declaredAnnotations": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    }
                                  },
                                  "sealed": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "sessionContext": {
                      "type": "object",
                      "properties": {
                        "ids": {
                          "type": "object",
                          "deprecated": true
                        }
                      },
                      "deprecated": true
                    },
                    "lastAccessedTime": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "maxInactiveInterval": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "valueNames": {
                      "type": "array",
                      "deprecated": true,
                      "items": {
                        "type": "string"
                      }
                    },
                    "new": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                },
                "queryString": {
                  "type": "string"
                },
                "remoteUser": {
                  "type": "string"
                },
                "requestURI": {
                  "type": "string"
                },
                "userPrincipal": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "contextPath": {
                  "type": "string"
                },
                "requestURL": {
                  "type": "object",
                  "properties": {
                    "length": {
                      "type": "integer",
                      "format": "int32",
                      "writeOnly": true
                    }
                  }
                },
                "headerNames": {
                  "type": "object"
                },
                "parts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contentType": {
                        "type": "string"
                      },
                      "headerNames": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "submittedFileName": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "inputStream": {
                        "type": "object"
                      }
                    }
                  }
                },
                "servletPath": {
                  "type": "string"
                },
                "pathInfo": {
                  "type": "string"
                },
                "httpServletMapping": {
                  "type": "object",
                  "properties": {
                    "pattern": {
                      "type": "string"
                    },
                    "servletName": {
                      "type": "string"
                    },
                    "matchValue": {
                      "type": "string"
                    },
                    "mappingMatch": {
                      "type": "string",
                      "enum": [
                        "CONTEXT_ROOT",
                        "DEFAULT",
                        "EXACT",
                        "EXTENSION",
                        "PATH"
                      ]
                    }
                  }
                },
                "trailerFieldsReady": {
                  "type": "boolean"
                },
                "authType": {
                  "type": "string"
                },
                "pathTranslated": {
                  "type": "string"
                },
                "requestedSessionId": {
                  "type": "string"
                },
                "requestedSessionIdValid": {
                  "type": "boolean"
                },
                "requestedSessionIdFromCookie": {
                  "type": "boolean"
                },
                "requestedSessionIdFromURL": {
                  "type": "boolean"
                },
                "requestedSessionIdFromUrl": {
                  "type": "boolean",
                  "deprecated": true
                },
                "trailerFields": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "method": {
                  "type": "string"
                },
                "contentLengthLong": {
                  "type": "integer",
                  "format": "int64"
                },
                "contentType": {
                  "type": "string"
                },
                "localPort": {
                  "type": "integer",
                  "format": "int32"
                },
                "localName": {
                  "type": "string"
                },
                "locale": {
                  "type": "object",
                  "properties": {
                    "script": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "variant": {
                      "type": "string"
                    },
                    "extensionKeys": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "unicodeLocaleAttributes": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "unicodeLocaleKeys": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "iso3Language": {
                      "type": "string"
                    },
                    "iso3Country": {
                      "type": "string"
                    },
                    "displayLanguage": {
                      "type": "string"
                    },
                    "displayScript": {
                      "type": "string"
                    },
                    "displayCountry": {
                      "type": "string"
                    },
                    "displayVariant": {
                      "type": "string"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    }
                  }
                },
                "contentLength": {
                  "type": "integer",
                  "format": "int32"
                },
                "reader": {
                  "type": "object"
                },
                "parameterNames": {
                  "type": "object"
                },
                "serverName": {
                  "type": "string"
                },
                "attributeNames": {
                  "type": "object"
                },
                "serverPort": {
                  "type": "integer",
                  "format": "int32"
                },
                "parameterMap": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "asyncSupported": {
                  "type": "boolean"
                },
                "dispatcherType": {
                  "type": "string",
                  "enum": [
                    "FORWARD",
                    "INCLUDE",
                    "REQUEST",
                    "ASYNC",
                    "ERROR"
                  ]
                },
                "remotePort": {
                  "type": "integer",
                  "format": "int32"
                },
                "secure": {
                  "type": "boolean"
                },
                "servletContext": {
                  "type": "object",
                  "properties": {
                    "majorVersion": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "minorVersion": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "sessionTimeout": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "attributeNames": {
                      "type": "object"
                    },
                    "serverInfo": {
                      "type": "string"
                    },
                    "initParameterNames": {
                      "type": "object"
                    },
                    "servletContextName": {
                      "type": "string"
                    },
                    "contextPath": {
                      "type": "string"
                    },
                    "servletNames": {
                      "type": "object",
                      "deprecated": true
                    },
                    "effectiveMajorVersion": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "effectiveMinorVersion": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "servlets": {
                      "type": "object",
                      "deprecated": true
                    },
                    "servletRegistrations": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "mappings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "runAsRole": {
                            "type": "string"
                          },
                          "initParameters": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "filterRegistrations": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "servletNameMappings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "urlPatternMappings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "initParameters": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "name": {
                            "type": "string"
                          },
                          "className": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "sessionCookieConfig": {
                      "type": "object",
                      "properties": {
                        "domain": {
                          "type": "string"
                        },
                        "secure": {
                          "type": "boolean"
                        },
                        "comment": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        },
                        "maxAge": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "httpOnly": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "sessionTrackingModes": {
                      "uniqueItems": true,
                      "type": "array",
                      "writeOnly": true,
                      "items": {
                        "type": "string",
                        "enum": [
                          "COOKIE",
                          "URL",
                          "SSL"
                        ]
                      }
                    },
                    "defaultSessionTrackingModes": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "COOKIE",
                          "URL",
                          "SSL"
                        ]
                      }
                    },
                    "effectiveSessionTrackingModes": {
                      "uniqueItems": true,
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "COOKIE",
                          "URL",
                          "SSL"
                        ]
                      }
                    },
                    "jspConfigDescriptor": {
                      "type": "object",
                      "properties": {
                        "taglibs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "taglibURI": {
                                "type": "string"
                              },
                              "taglibLocation": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "jspPropertyGroups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "elIgnored": {
                                "type": "string"
                              },
                              "scriptingInvalid": {
                                "type": "string"
                              },
                              "pageEncoding": {
                                "type": "string"
                              },
                              "isXml": {
                                "type": "string"
                              },
                              "includePreludes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "includeCodas": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "deferredSyntaxAllowedAsLiteral": {
                                "type": "string"
                              },
                              "trimDirectiveWhitespaces": {
                                "type": "string"
                              },
                              "errorOnUndeclaredNamespace": {
                                "type": "string"
                              },
                              "buffer": {
                                "type": "string"
                              },
                              "defaultContentType": {
                                "type": "string"
                              },
                              "urlPatterns": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "virtualServerName": {
                      "type": "string"
                    },
                    "requestCharacterEncoding": {
                      "type": "string"
                    },
                    "responseCharacterEncoding": {
                      "type": "string"
                    },
                    "classLoader": {
                      "type": "object",
                      "properties": {
                        "parent": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "unnamedModule": {
                              "type": "object",
                              "properties": {
                                "layer": {
                                  "type": "object"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "descriptor": {
                                  "type": "object",
                                  "properties": {
                                    "open": {
                                      "type": "boolean"
                                    },
                                    "automatic": {
                                      "type": "boolean"
                                    }
                                  }
                                },
                                "named": {
                                  "type": "boolean"
                                },
                                "annotations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "declaredAnnotations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "packages": {
                                  "uniqueItems": true,
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "defaultAssertionStatus": {
                              "type": "boolean",
                              "writeOnly": true
                            },
                            "registeredAsParallelCapable": {
                              "type": "boolean"
                            },
                            "definedPackages": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  },
                                  "specificationTitle": {
                                    "type": "string"
                                  },
                                  "specificationVersion": {
                                    "type": "string"
                                  },
                                  "specificationVendor": {
                                    "type": "string"
                                  },
                                  "implementationTitle": {
                                    "type": "string"
                                  },
                                  "implementationVersion": {
                                    "type": "string"
                                  },
                                  "implementationVendor": {
                                    "type": "string"
                                  },
                                  "annotations": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    }
                                  },
                                  "declaredAnnotations": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    }
                                  },
                                  "sealed": {
                                    "type": "boolean"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "name": {
                          "type": "string"
                        },
                        "unnamedModule": {
                          "type": "object",
                          "properties": {
                            "layer": {
                              "type": "object"
                            },
                            "name": {
                              "type": "string"
                            },
                            "descriptor": {
                              "type": "object",
                              "properties": {
                                "open": {
                                  "type": "boolean"
                                },
                                "automatic": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "named": {
                              "type": "boolean"
                            },
                            "annotations": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "declaredAnnotations": {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            },
                            "packages": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "defaultAssertionStatus": {
                          "type": "boolean",
                          "writeOnly": true
                        },
                        "registeredAsParallelCapable": {
                          "type": "boolean"
                        },
                        "definedPackages": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "specificationTitle": {
                                "type": "string"
                              },
                              "specificationVersion": {
                                "type": "string"
                              },
                              "specificationVendor": {
                                "type": "string"
                              },
                              "implementationTitle": {
                                "type": "string"
                              },
                              "implementationVersion": {
                                "type": "string"
                              },
                              "implementationVendor": {
                                "type": "string"
                              },
                              "annotations": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "declaredAnnotations": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "sealed": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "characterEncoding": {
                  "type": "string"
                },
                "remoteAddr": {
                  "type": "string"
                },
                "remoteHost": {
                  "type": "string"
                },
                "locales": {
                  "type": "object"
                },
                "localAddr": {
                  "type": "string"
                },
                "asyncStarted": {
                  "type": "boolean"
                },
                "asyncContext": {
                  "type": "object",
                  "properties": {
                    "timeout": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "request": {
                      "type": "object",
                      "properties": {
                        "contentLengthLong": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "contentType": {
                          "type": "string"
                        },
                        "localPort": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "localName": {
                          "type": "string"
                        },
                        "locale": {
                          "type": "object",
                          "properties": {
                            "script": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "variant": {
                              "type": "string"
                            },
                            "extensionKeys": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "unicodeLocaleAttributes": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "unicodeLocaleKeys": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "iso3Language": {
                              "type": "string"
                            },
                            "iso3Country": {
                              "type": "string"
                            },
                            "displayLanguage": {
                              "type": "string"
                            },
                            "displayScript": {
                              "type": "string"
                            },
                            "displayCountry": {
                              "type": "string"
                            },
                            "displayVariant": {
                              "type": "string"
                            },
                            "displayName": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        },
                        "contentLength": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "reader": {
                          "type": "object"
                        },
                        "parameterNames": {
                          "type": "object"
                        },
                        "serverName": {
                          "type": "string"
                        },
                        "attributeNames": {
                          "type": "object"
                        },
                        "serverPort": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "parameterMap": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "asyncSupported": {
                          "type": "boolean"
                        },
                        "dispatcherType": {
                          "type": "string",
                          "enum": [
                            "FORWARD",
                            "INCLUDE",
                            "REQUEST",
                            "ASYNC",
                            "ERROR"
                          ]
                        },
                        "remotePort": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "secure": {
                          "type": "boolean"
                        },
                        "servletContext": {
                          "type": "object",
                          "properties": {
                            "majorVersion": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "minorVersion": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "sessionTimeout": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "attributeNames": {
                              "type": "object"
                            },
                            "serverInfo": {
                              "type": "string"
                            },
                            "initParameterNames": {
                              "type": "object"
                            },
                            "servletContextName": {
                              "type": "string"
                            },
                            "contextPath": {
                              "type": "string"
                            },
                            "servletNames": {
                              "type": "object",
                              "deprecated": true
                            },
                            "effectiveMajorVersion": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "effectiveMinorVersion": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "servlets": {
                              "type": "object",
                              "deprecated": true
                            },
                            "servletRegistrations": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "mappings": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "runAsRole": {
                                    "type": "string"
                                  },
                                  "initParameters": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "className": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "filterRegistrations": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "object",
                                "properties": {
                                  "servletNameMappings": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "urlPatternMappings": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "initParameters": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "className": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "sessionCookieConfig": {
                              "type": "object",
                              "properties": {
                                "domain": {
                                  "type": "string"
                                },
                                "secure": {
                                  "type": "boolean"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "path": {
                                  "type": "string"
                                },
                                "maxAge": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "httpOnly": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            },
                            "sessionTrackingModes": {
                              "uniqueItems": true,
                              "type": "array",
                              "writeOnly": true,
                              "items": {
                                "type": "string",
                                "enum": [
                                  "COOKIE",
                                  "URL",
                                  "SSL"
                                ]
                              }
                            },
                            "defaultSessionTrackingModes": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "COOKIE",
                                  "URL",
                                  "SSL"
                                ]
                              }
                            },
                            "effectiveSessionTrackingModes": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "COOKIE",
                                  "URL",
                                  "SSL"
                                ]
                              }
                            },
                            "jspConfigDescriptor": {
                              "type": "object",
                              "properties": {
                                "taglibs": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "taglibURI": {
                                        "type": "string"
                                      },
                                      "taglibLocation": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "jspPropertyGroups": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "elIgnored": {
                                        "type": "string"
                                      },
                                      "scriptingInvalid": {
                                        "type": "string"
                                      },
                                      "pageEncoding": {
                                        "type": "string"
                                      },
                                      "isXml": {
                                        "type": "string"
                                      },
                                      "includePreludes": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "includeCodas": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "deferredSyntaxAllowedAsLiteral": {
                                        "type": "string"
                                      },
                                      "trimDirectiveWhitespaces": {
                                        "type": "string"
                                      },
                                      "errorOnUndeclaredNamespace": {
                                        "type": "string"
                                      },
                                      "buffer": {
                                        "type": "string"
                                      },
                                      "defaultContentType": {
                                        "type": "string"
                                      },
                                      "urlPatterns": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "virtualServerName": {
                              "type": "string"
                            },
                            "requestCharacterEncoding": {
                              "type": "string"
                            },
                            "responseCharacterEncoding": {
                              "type": "string"
                            },
                            "classLoader": {
                              "type": "object",
                              "properties": {
                                "parent": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string"
                                    },
                                    "unnamedModule": {
                                      "type": "object",
                                      "properties": {
                                        "layer": {
                                          "type": "object"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "descriptor": {
                                          "type": "object",
                                          "properties": {
                                            "open": {
                                              "type": "boolean"
                                            },
                                            "automatic": {
                                              "type": "boolean"
                                            }
                                          }
                                        },
                                        "named": {
                                          "type": "boolean"
                                        },
                                        "annotations": {
                                          "type": "array",
                                          "items": {
                                            "type": "object"
                                          }
                                        },
                                        "declaredAnnotations": {
                                          "type": "array",
                                          "items": {
                                            "type": "object"
                                          }
                                        },
                                        "packages": {
                                          "uniqueItems": true,
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    },
                                    "defaultAssertionStatus": {
                                      "type": "boolean",
                                      "writeOnly": true
                                    },
                                    "registeredAsParallelCapable": {
                                      "type": "boolean"
                                    },
                                    "definedPackages": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "specificationTitle": {
                                            "type": "string"
                                          },
                                          "specificationVersion": {
                                            "type": "string"
                                          },
                                          "specificationVendor": {
                                            "type": "string"
                                          },
                                          "implementationTitle": {
                                            "type": "string"
                                          },
                                          "implementationVersion": {
                                            "type": "string"
                                          },
                                          "implementationVendor": {
                                            "type": "string"
                                          },
                                          "annotations": {
                                            "type": "array",
                                            "items": {
                                              "type": "object"
                                            }
                                          },
                                          "declaredAnnotations": {
                                            "type": "array",
                                            "items": {
                                              "type": "object"
                                            }
                                          },
                                          "sealed": {
                                            "type": "boolean"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "name": {
                                  "type": "string"
                                },
                                "unnamedModule": {
                                  "type": "object",
                                  "properties": {
                                    "layer": {
                                      "type": "object"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "descriptor": {
                                      "type": "object",
                                      "properties": {
                                        "open": {
                                          "type": "boolean"
                                        },
                                        "automatic": {
                                          "type": "boolean"
                                        }
                                      }
                                    },
                                    "named": {
                                      "type": "boolean"
                                    },
                                    "annotations": {
                                      "type": "array",
                                      "items": {
                                        "type": "object"
                                      }
                                    },
                                    "declaredAnnotations": {
                                      "type": "array",
                                      "items": {
                                        "type": "object"
                                      }
                                    },
                                    "packages": {
                                      "uniqueItems": true,
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "defaultAssertionStatus": {
                                  "type": "boolean",
                                  "writeOnly": true
                                },
                                "registeredAsParallelCapable": {
                                  "type": "boolean"
                                },
                                "definedPackages": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string"
                                      },
                                      "specificationTitle": {
                                        "type": "string"
                                      },
                                      "specificationVersion": {
                                        "type": "string"
                                      },
                                      "specificationVendor": {
                                        "type": "string"
                                      },
                                      "implementationTitle": {
                                        "type": "string"
                                      },
                                      "implementationVersion": {
                                        "type": "string"
                                      },
                                      "implementationVendor": {
                                        "type": "string"
                                      },
                                      "annotations": {
                                        "type": "array",
                                        "items": {
                                          "type": "object"
                                        }
                                      },
                                      "declaredAnnotations": {
                                        "type": "array",
                                        "items": {
                                          "type": "object"
                                        }
                                      },
                                      "sealed": {
                                        "type": "boolean"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "characterEncoding": {
                          "type": "string"
                        },
                        "remoteAddr": {
                          "type": "string"
                        },
                        "remoteHost": {
                          "type": "string"
                        },
                        "locales": {
                          "type": "object"
                        },
                        "localAddr": {
                          "type": "string"
                        },
                        "asyncStarted": {
                          "type": "boolean"
                        },
                        "scheme": {
                          "type": "string"
                        },
                        "protocol": {
                          "type": "string"
                        },
                        "inputStream": {
                          "type": "object",
                          "properties": {
                            "ready": {
                              "type": "boolean"
                            },
                            "finished": {
                              "type": "boolean"
                            },
                            "readListener": {
                              "type": "object",
                              "writeOnly": true
                            }
                          }
                        }
                      }
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "locale": {
                          "type": "object",
                          "properties": {
                            "script": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "variant": {
                              "type": "string"
                            },
                            "extensionKeys": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "unicodeLocaleAttributes": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "unicodeLocaleKeys": {
                              "uniqueItems": true,
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "iso3Language": {
                              "type": "string"
                            },
                            "iso3Country": {
                              "type": "string"
                            },
                            "displayLanguage": {
                              "type": "string"
                            },
                            "displayScript": {
                              "type": "string"
                            },
                            "displayCountry": {
                              "type": "string"
                            },
                            "displayVariant": {
                              "type": "string"
                            },
                            "displayName": {
                              "type": "string"
                            },
                            "language": {
                              "type": "string"
                            }
                          }
                        },
                        "contentType": {
                          "type": "string"
                        },
                        "outputStream": {
                          "type": "object",
                          "properties": {
                            "ready": {
                              "type": "boolean"
                            },
                            "writeListener": {
                              "type": "object",
                              "writeOnly": true
                            }
                          }
                        },
                        "contentLength": {
                          "type": "integer",
                          "format": "int32",
                          "writeOnly": true
                        },
                        "bufferSize": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "writer": {
                          "type": "object"
                        },
                        "contentLengthLong": {
                          "type": "integer",
                          "format": "int64",
                          "writeOnly": true
                        },
                        "committed": {
                          "type": "boolean"
                        },
                        "characterEncoding": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "scheme": {
                  "type": "string"
                },
                "protocol": {
                  "type": "string"
                },
                "inputStream": {
                  "type": "object",
                  "properties": {
                    "ready": {
                      "type": "boolean"
                    },
                    "finished": {
                      "type": "boolean"
                    },
                    "readListener": {
                      "type": "object",
                      "writeOnly": true
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PostingConfirmationResponseItem"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionJsonInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionJsonInfo"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionJsonInfo"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionJsonInfoEx"
                }
              }
            }
          },
          "500": {
            "description": "Internal error"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/fi/v4/companies/transactiontypes/{docType}/transactions/paymentconfirmations": {
      "post": {
        "tags": [
          "Financial Transactions"
        ],
        "summary": "Confirms results of financial transactions payment posting.",
        "description": "This API allows financial posting results to be sent to Concur.",
        "operationId": "postErpPaymentConfirmations",
        "parameters": [
          {
            "name": "concur-route",
            "in": "header",
            "description": "Concur Route",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docType",
            "in": "path",
            "description": "Doc Type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "expense",
                "invoice",
                "cashadvance",
                "payroll",
                "obligation",
                "requestobligation",
                "reportobligation"
              ]
            }
          },
          {
            "name": "request",
            "in": "query",
            "description": "Payment Confirmation Request",
            "schema": {
              "type": "object",
              "properties": {
                "cookies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "comment": {
                        "type": "string"
                      },
                      "domain": {
                        "type": "string"
                      },
                      "maxAge": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "path": {
                        "type": "string"
                      },
                      "secure": {
                        "type": "boolean"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "httpOnly": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "session": {
                  "type": "object",
                  "properties": {
                    "creationTime": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "attributeNames": {
                      "type": "object"
                    },
                    "servletContext": {
                      "type": "object",
                      "properties": {
                        "majorVersion": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "minorVersion": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "sessionTimeout": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "attributeNames": {
                          "type": "object"
                        },
                        "serverInfo": {
                          "type": "string"
                        },
                        "initParameterNames": {
                          "type": "object"
                        },
                        "servletContextName": {
                          "type": "string"
                        },
                        "contextPath": {
                          "type": "string"
                        },
                        "servletNames": {
                          "type": "object",
                          "deprecated": true
                        },
                        "effectiveMajorVersion": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "effectiveMinorVersion": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "servlets": {
                          "type": "object",
                          "deprecated": true
                        },
                        "servletRegistrations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "mappings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "runAsRole": {
                                "type": "string"
                              },
                              "initParameters": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "filterRegistrations": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "servletNameMappings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "urlPatternMappings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "initParameters": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "name": {
                                "type": "string"
                              },
                              "className": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "sessionCookieConfig": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string"
                            },
                            "secure": {
                              "type": "boolean"
                            },
                            "comment": {
                              "type": "string"
                            },
                            "path": {
                              "type": "string"
                            },
                            "maxAge": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "httpOnly": {
                              "type": "boolean"
                            },
                            "name": {
                              "type": "string"
                            }
                          }
                        },
                        "sessionTrackingModes": {
                          "uniqueItems": true,
                          "type": "array",
                          "writeOnly": true,
                          "items": {
                            "type": "string",
                            "enum": [
                              "COOKIE",
                              "URL",
                              "SSL"
                            ]
                          }
                        },
                        "defaultSessionTrackingModes": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "COOKIE",
                              "URL",
                              "SSL"
                            ]
                          }
                        },
                        "effectiveSessionTrackingModes": {
                          "uniqueItems": true,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "COOKIE",
                              "URL",
                              "SSL"
                            ]
                          }
                        },
                        "jspConfigDescriptor": {
                          "type": "object",
                          "properties": {
                            "taglibs": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "taglibURI": {
                                    "type": "string"
                                  },
                                  "taglibLocation": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "jspPropertyGroups": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "elIgnored": {
                                    "type": "string"
                                  },
                                  "scriptingInvalid": {
                                    "type": "string"
                                  },
                                  "pageEncoding": {
                                    "type": "string"
                                  },
                                  "isXml": {
                                    "type": "string"
                                  },
                                  "includePreludes": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "includeCodas": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "deferredSyntaxAllowedAsLiteral": {
                                    "type": "string"
                                  },
                                  "trimDirectiveWhitespaces": {
                                    "type": "string"
                                  },
                                  "errorOnUndeclaredNamespace": {
                                    "type": "string"
[...]
