{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Expense Report Service",
    "description" : "<b>Expense Report Service (ERS) is the next-generation v4 API for operations related to  creating and processing Expense Reports</b>. In order to interact with this API, a client  must include either an authorized User or Company JWT in the header of each request, or  use an X.509 client certificate with a CN included in the Allowed List by the ERS team.\n",
    "termsOfService" : "",
    "contact" : {
      "email" : "expensereportservice@sap.onmicrosoft.com"
    },
    "license" : {
      "name" : "SAP Concur",
      "url" : ""
    },
    "version" : "4.13.0"
  },
  "externalDocs" : {
    "description" : "Expense Report Service Readme",
    "url" : "https://github.concur.com/inception/expense-report-service"
  },
  "servers" : [ {
    "url" : "https://unstable-expensereports.service.cnqr.tech",
    "description" : "Generated server url"
  } ],
  "security" : [ {
    "api_key" : [ "read", "write" ]
  } ],
  "tags" : [ {
    "name" : "Travel Allowance",
    "description" : "Travel Allowance APIs"
  }, {
    "name" : "Task API",
    "description" : "task"
  }, {
    "name" : "Comments",
    "description" : "Comments API "
  }, {
    "name" : "TravelDiaries",
    "description" : "Travel Diary API "
  }, {
    "name" : "Allocation Favorites",
    "description" : "Allocation Favorites API"
  }, {
    "name" : "Workflows",
    "description" : "Workflows API"
  }, {
    "name" : "Expenses",
    "description" : "Report Expenses API"
  }, {
    "name" : "Reports",
    "description" : "Reports API "
  }, {
    "name" : "Workflows",
    "description" : "Workflows API "
  }, {
    "name" : "OneInbox",
    "description" : "capability"
  }, {
    "name" : "Allocations",
    "description" : "Allocations API"
  }, {
    "name" : "Capability API",
    "description" : "capability"
  }, {
    "name" : "OneInbox",
    "description" : "task"
  }, {
    "name" : "Expense Attendees",
    "description" : "Operations related to association of attendees with expenses"
  }, {
    "name" : "Request Mappings",
    "description" : "Request Mappings API "
  }, {
    "name" : "TaskDefinition API",
    "description" : "task-definitions"
  }, {
    "name" : "OneInbox",
    "description" : "task-definitions"
  } ],
  "paths" : {
    "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/workflow" : {
      "get" : {
        "tags" : [ "Workflows" ],
        "summary" : "Gets the workflow instance for the specified report.",
        "description" : "Returns the workflow instance for the specified report.",
        "operationId" : "getReportWorkflowInstance",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeNextNonDefaultApprover",
          "in" : "query",
          "description" : "If true, an applicable approver will be looked up for the next workflow step if there is no default",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "false"
          }
        }, {
          "name" : "restrictToPreviousWorkflowInstance",
          "in" : "query",
          "description" : "If true, the previous workflow instance will be returned instead of the current one",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported,\nInvalid reportId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found,\nNo previous instance of the workflow was found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not allowed to access this report ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Workflow instance  successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkflowInstance"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Workflows" ],
        "summary" : "Updates the current workflow instance for the specified report",
        "description" : "Updates the current workflow instance for the specified report.",
        "operationId" : "updateReportWorkflowInstance",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateWorkflowInstance"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found,\nWorkflow instance resource does not exist for specified report",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not allowed to modify this report ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Current workflow instance successfully updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaveWorkflowInstanceResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported,\nInvalid reportId,\nIncorrect sub workflow process instance id in the request, does not belong to current workflow process instance,\nProcess instance id cannot be null or empty,\nCompleted process instance cannot be updated,\nMissing steps in the request. If the intention was to delete a step, the step should be specified in the request with the is_deleted flag as true,\nIncorrect number of sub workflows in request. The count should match existing sub workflows since sub workflows (like cost object) cannot be added or removed during update,\nStep instance id may be null only for new user-added steps,\nApprover is required for all user-added steps,\nIs deleted flag cannot be true for a new user-added step,\nIncorrect step instance id in the request, does not belong to current workflow process instance,\nIncorrect sequence order for deleted step, only steps after the current workflow sequence can be deleted,\nIncorrect sequence order for new user-added step, new step can be added only after the current workflow sequence",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Workflows" ],
        "summary" : "Creates a workflow instance for the specified report",
        "description" : "Creates a workflow instance for the specified report.",
        "operationId" : "createReportWorkflowInstance",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewWorkflowInstance"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "Specified context not supported,\nInvalid reportId,\nRequest is missing mandatory attributes,\nWorkflow instance resource already exists for specified report,\nWorkflow instance in the request payload is missing one or more required step instances",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not allowed to modify this report ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "201" : {
            "description" : "Report workflow instance successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SaveWorkflowInstanceResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/expenses/{expenseId}/comments" : {
      "get" : {
        "tags" : [ "Comments" ],
        "summary" : "Gets comments for the specified expense",
        "description" : "Returns comments for the specified expense.",
        "operationId" : "getReportEntryComments",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expenseId",
          "in" : "path",
          "description" : "The unique identifier of the expense",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found,\nexpenseId not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Comments successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CommentDetails"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Comments" ],
        "summary" : "Updates the latest comment for the specified expense",
        "description" : "Updates the latest comment for the specified expense.",
        "operationId" : "updateReportEntryComments",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expenseId",
          "in" : "path",
          "description" : "The unique identifier of the expense",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Comment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Comment successfully updated",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentSaveResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found,\nexpenseId not found,\nThere are no comments available for you to delete.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Comments" ],
        "summary" : "Creates a new comment for the specified expense",
        "description" : "Creates a new comment for the specified expense.",
        "operationId" : "createReportEntryComments",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expenseId",
          "in" : "path",
          "description" : "The unique identifier of the expense",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Comment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found,\nexpenseId not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "201" : {
            "description" : "Comment successfully created",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentSaveResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Comments" ],
        "summary" : "Deletes the latest comment for the specified expense",
        "description" : "Deletes the latest comment for the specified expense.",
        "operationId" : "deleteReportEntryComments",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expenseId",
          "in" : "path",
          "description" : "The unique identifier of the expense",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "204" : {
            "description" : "Comment successfully deleted"
          },
          "404" : {
            "description" : "reportId not found,\nexpenseId not found,\nThere are no comments available for you to delete.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/comments" : {
      "get" : {
        "tags" : [ "Comments" ],
        "summary" : "Gets comments for the specified report",
        "description" : "Returns comments for the specified report.",
        "operationId" : "getReportComments",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeAllComments",
          "in" : "query",
          "description" : "Return all the comments that are present on the report at all levels",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "false"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Comments successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CommentDetails"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Comments" ],
        "summary" : "Updates the latest comment for the specified report",
        "description" : "Updates the latest comment for the specified report.",
        "operationId" : "updateReportComments",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Comment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Comment successfully updated",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentSaveResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found,\nThere are no comments available for you to update. If you want to add a comment, use the POST operation.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Comments" ],
        "summary" : "Creates a new comment for the specified report",
        "description" : "Creates a new comment for the specified report.",
        "operationId" : "createReportComments",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Comment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "201" : {
            "description" : "Comment successfully created",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentSaveResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Comments" ],
        "summary" : "Deletes the latest comment for the specified report",
        "description" : "Deletes the latest comment for the specified report.",
        "operationId" : "deleteReportComments",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "204" : {
            "description" : "Comment successfully deleted"
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found,\nThere are no comments available for you to delete.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/reports/{reportId}/expenses/{expenseId}/exceptions" : {
      "put" : {
        "tags" : [ "Expenses" ],
        "summary" : "Adds an exception on the expense specified by the exceptionCode",
        "description" : "Adds an exception on the expense specified by the exceptionCode.",
        "operationId" : "saveReportEntryException",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expenseId",
          "in" : "path",
          "description" : "The unique identifier of the expense",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Exceptions"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "404" : {
            "description" : "reportId not found\n\nexpenseId not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Expense exception successfully created"
          },
          "401" : {
            "description" : "This endpoint is only accessible by a valid company JWT or a trusted caller",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid reportId\n\nInvalid expenseId\n\nInvalid exceptionCode\n\nCannot perform the operation as the report is already paid",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/reports/{reportId}/expenses/{expenseId}/allocations/{allocationId}/exceptions" : {
      "put" : {
        "tags" : [ "Allocations" ],
        "summary" : "Adds an exception on the allocation specified by the exceptionCode",
        "description" : "Adds an exception on the allocation specified by the exceptionCode.",
        "operationId" : "saveAllocationException",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "expenseId",
          "in" : "path",
          "description" : "The unique identifier of the expense",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "allocationId",
          "in" : "path",
          "description" : "The unique identifier of the expense allocation",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Exceptions"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Allocation exception successfully created"
          },
          "400" : {
            "description" : "Invalid reportId\n\nInvalid expenseId\n\nInvalid allocationId\n\nInvalid exceptionCode\n\nCannot perform the operation as the report is already paid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "This endpoint is only accessible by a valid company JWT or a trusted caller",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found\n\nexpenseId not found\n\nallocationId not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/reports/{reportId}/exceptions" : {
      "put" : {
        "tags" : [ "Reports" ],
        "summary" : "Adds an exception on the report specified by the exceptionCode",
        "description" : "Adds an exception on the report specified by the exceptionCode.",
        "operationId" : "saveReportException",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Exceptions"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "404" : {
            "description" : "reportId not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid reportId\n\nInvalid exceptionCode\n\nCannot perform the operation as the report is already paid",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "This endpoint is only accessible by a valid company JWT or a trusted caller",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Report exception successfully created"
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/users/{userId}/context/{contextType}/reports" : {
      "get" : {
        "tags" : [ "Reports" ],
        "summary" : "Gets the reports for the specified user",
        "description" : "Returns the reports for the specified user. Also returns a self link.<br/><br/>The sort works as follows.<br/>&nbsp;&nbsp;&nbsp;&nbsp;When status is specified as 'ACTIVE':<br/>&nbsp;&nbsp;&nbsp;&nbsp;The returned reports are sorted into three groups:<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Returned or recalled reports<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Unsubmitted reports<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. All other reports<br/>&nbsp;&nbsp;&nbsp;&nbsp;Within each group, reports are sorted on reportDate in the order specified by the user.<br/>&nbsp;&nbsp;&nbsp;&nbsp;The user-specified column on which to sort has no effect in this case.<br/>When any status value other than 'ACTIVE' is specified:<br/>&nbsp;&nbsp;&nbsp;&nbsp;The returned reports are sorted on the user-specified column, in the user-specified order.",
        "operationId" : "getReports",
        "parameters" : [ {
          "name" : "status",
          "in" : "query",
          "description" : "Report status filter",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "ALL",
            "enum" : [ "ACTIVE", "ALL", "APPROVED", "PAID", "PAYMENT_CONFIRMED", "PENDING", "PROCESSING_PAYMENT", "SENT_FOR_PAYMENT", "UNSUBMITTED", "WORKFLOW_COMPLETED", "PENDING_EXTERNAL_VALIDATION" ]
          }
        }, {
          "name" : "fromDate",
          "in" : "query",
          "description" : "Start date of date range filter. Format: YYYY-MM-DD",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "toDate",
          "in" : "query",
          "description" : "End date of date range filter. Format: YYYY-MM-DD",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date"
          }
        }, {
          "name" : "reportType",
          "in" : "query",
          "description" : "Report type filter",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "Regular", "Reconciliation", "Statement", "AutoCreated" ]
          }
        }, {
          "name" : "pagingRequestParams",
          "in" : "query",
          "description" : "Paging parameters values for the results",
          "required" : true,
          "schema" : {
            "$ref" : "#/components/schemas/BasePagingRequestParams"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The name of the column on which to sort",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "reportDate",
            "enum" : [ "approvalStatus", "claimedAmount", "name", "paymentStatus", "reportDate", "reportTotal" ]
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Sort order",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "desc",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Reports successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PagedModelReportList"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid Status value specified,\nSpecified context not supported,\nInvalid Report type value specified,\nInvalid date filter provided",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Reports" ],
        "summary" : "Creates a new report for the specified user",
        "description" : "Creates a new report for the specified user.",
        "operationId" : "postNewReport",
        "parameters" : [ {
          "name" : "idempotency-id",
          "in" : "header",
          "description" : "The unique identifier for this request. Utilizing this identifier ensures that you do not create duplicate resources when you pass the same value",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewReport"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "409" : {
            "description" : "Your previous request having this idempotency-id is still in-progress. Please retry your request after sometime to get the resource link (URI)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported,\nInvalid field value specified,\nUser does not have proper role",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "201" : {
            "description" : "Report successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NewReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/travelDiaries" : {
      "get" : {
        "tags" : [ "TravelDiaries" ],
        "summary" : "Gets all travel diaries for the specified report",
        "description" : "Returns all travel diaries for the specified report. Includes a link to travel diary details for each travel diary.",
        "operationId" : "getAllTravelDiaries",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Travel Diaries  successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/TravelDiary"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not allowed to access this report ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "TravelDiaries" ],
        "summary" : "Creates a new travel diary",
        "description" : "Creates a new travel diary for the specified report",
        "operationId" : "postNewTravelDiaryDetails",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/NewTravelDiaryRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not allowed to access this report ",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "201" : {
            "description" : "Travel Diary  successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/NewTravelDiaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/requests" : {
      "get" : {
        "tags" : [ "Reports" ],
        "summary" : "Gets the request IDs associated with the specified report",
        "description" : "Returns the request IDs associated with the specified report.",
        "operationId" : "getAssociatedRequests",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "200" : {
            "description" : "Request IDs successfully retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Reports" ],
        "summary" : "Associates the specified request(s) with the specified report",
        "description" : "Associates the specified request(s) with the specified report.",
        "operationId" : "associateRequestsWithReport",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report that the requests will be associated with",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "isCopyDownInheritedFromRequest",
          "in" : "query",
          "description" : "Indicates whether or not to copy down values from the request header to the report header. The first request in the list of requestIds received will be the copy down source.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "description" : "The unique identifiers of the requests to associate with the report",
                "items" : {
                  "type" : "string"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "404" : {
            "description" : "10030: Could not find all requests to associate",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "201" : {
            "description" : "Request(s) successfully associated with the report",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RequestsPostResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported,\nInvalid field value specified,\nUser does not have proper role",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not allowed to modify the reopened report",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Reports" ],
        "summary" : "Dissociates all requests from the specified report",
        "description" : "Dissociates all requests from the specified report.",
        "operationId" : "dissociateRequestsFromReport",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report that contains the requests to be disassociated",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accept-language",
          "in" : "header",
          "description" : "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Missing or invalid authorization header",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "404" : {
            "description" : "reportId not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "204" : {
            "description" : "All requests successfully dissociated from the report"
          },
          "500" : {
            "description" : "Internal server error. Retry your request again",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "400" : {
            "description" : "Specified context not supported,\nInvalid field value specified,\nUser does not have proper role",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          },
          "403" : {
            "description" : "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not allowed to modify the reopened report",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/expenses" : {
      "get" : {
        "tags" : [ "Expenses" ],
        "summary" : "Gets all expense summaries for the specified report",
        "description" : "Returns all expense summaries for the specified report. Includes a link to expense details for each expense and a link to itemizations for each parent expense.",
        "operationId" : "getReportExpensesSummary",
        "parameters" : [ {
          "name" : "reportId",
          "in" : "path",
          "description" : "The unique identifier of the report",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeItemizations",
          "in" : "query",
          "description" : "Include all itemizations of an Expense, if any",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "false",
            "enum" : [ "false", "true" ]
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The unique identifier of the Concur user",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contextType",
          "in" : "path",
          "description" : "The access level of the Concur user, which determines the form fields they can view/modify",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "TRAVELER", "MANAGER", "PROCESSOR", "PROXY" ]
          }
        }, {
          "name" : "concur-correlationid",
          "in" : "header",
          "description" : "The unique identifier of the consumer making the API calls. Minimum length: 6 characters",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-route",
          "in" : "header",
          "description" : "The Concur route for the API call",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "concur-forwarded-for",
          "in" : "header",
          "description" : "CN for x509 authentication",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
[...]
