{
    "openapi": "3.0.1",
    "info": {
        "title": "Expense Report Service",
        "description": "<b>Expense Report Service (ERS) is the next-generation v4 API for operations related to  creating and processing Expense Reports</b>. In order to interact with this API, a client  must include either an authorized User or Company JWT in the header of each request, or  use an X.509 client certificate with a CN included in the Allowed List by the ERS team.\n",
        "termsOfService": "https://developer.concur.com/Terms-of-Use.html",
        "license": {
            "name": "SAP Concur",
            "url": ""
        },
        "version": "4.15.5"
    },
    "externalDocs": {
        "description": "SAP Concur API Reference",
        "url": "https://developer.concur.com/api-reference/"
    },
    "servers": [
        {
            "url": "https://us2.api.concursolutions.com/expensereports/v4",
            "description": "US Production Environment Concur API EndPoint"
        },
        {
            "url": "https://eu2.api.concursolutions.com/expensereports/v4",
            "description": "EMEA Production Environment Concur API EndPoint"
        },
        {
            "url": "https://cn.api.cnqr-cn.com/expensereports/v4",
            "description": "China Production Environment Concur API EndPoint"
        },
        {
            "url": "https://usg.api.concursolutions.com/expensereports/v4",
            "description": "PSCC Production Environment Concur API EndPoint"
        }
    ],
    "tags": [
        {
            "name": "Comments",
            "description": "Gets the comments entered on the expense report header, or expenses of an existing expense report"
        },
        {
            "name": "Workflows",
            "description": "Manages workflow transitions for a report"
        },
        {
            "name": "Expenses",
            "description": "Gets the expenses and itemizations that belong to a specific expense report and updates an expense on an existing expense report"
        },
        {
            "name": "Reports",
            "description": "Gets and updates an expense report header of an existing expense report"
        },
        {
            "name": "Allocations",
            "description": "Gets the allocations that belong to a specific expense on an expense report and updates an allocation on an existing expense in an expense report"
        }
    ],
    "paths": {
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/expenses/{expenseId}/comments": {
            "get": {
                "tags": [
                    "external",
                    "Comments"
                ],
                "summary": "Gets comments for the specified expense",
                "description": "Returns comments for the specified expense.",
                "operationId": "getReportEntryComments",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseId",
                        "in": "path",
                        "description": "The unique identifier of the expense",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Specified context not supported",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found,\nexpenseId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Comments successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CommentDetails"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/comments": {
            "get": {
                "tags": [
                    "external",
                    "Comments"
                ],
                "summary": "Gets comments for the specified report",
                "description": "Returns comments for the specified report.",
                "operationId": "getReportComments",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeAllComments",
                        "in": "query",
                        "description": "Return all the comments that are present on the report at all levels",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "false"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Specified context not supported",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not authorized to access this report with this context type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Comments successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CommentDetails"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/expenses": {
            "get": {
                "tags": [
                    "external",
                    "Expenses"
                ],
                "summary": "Gets all expense summaries for the specified report",
                "description": "Returns all expense summaries for the specified report. Includes a link to expense details for each expense and a link to itemizations for each parent expense.",
                "operationId": "getReportExpensesSummary",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeItemizations",
                        "in": "query",
                        "description": "Include all itemizations of an Expense, if any",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "false",
                            "enum": [
                                "false",
                                "true"
                            ]
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER",
                                "PROXY"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Specified context not supported",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not allowed to access this report ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Expense summaries successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ReportEntrySummary"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/expenses/{expenseId}/allocations": {
            "get": {
                "tags": [
                    "external",
                    "Allocations"
                ],
                "summary": "Gets all allocations for the specified expense",
                "description": "Returns all allocations for the specified expense.",
                "operationId": "getAllocations",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseId",
                        "in": "path",
                        "description": "The unique identifier of the expense",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER",
                                "PROXY"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Allocations successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Allocation"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not authorized to access this report with this context type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid expenseId",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}": {
            "get": {
                "tags": [
                    "external",
                    "Reports"
                ],
                "summary": "Gets report details for the specified report.",
                "description": "Returns report details for the specified report. Also returns a self link, plus each of the following links, contingent on the existence of the resource: comments, exceptions, expenses, formFields.",
                "operationId": "getReportDetails",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER",
                                "PROXY"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Specified context not supported",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Report details successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportForm"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type,\nUser is not allowed to access this report ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Reports"
                ],
                "summary": "Updates the report header",
                "description": "Updates the report header in an un-submitted expense report specified and is flexible for modifying multiple attributes in the schema",
                "operationId": "updateReport",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER",
                                "PROXY"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReport"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Specified context not supported,\nInvalid field value specified,\nUser does not have proper role",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Report successfully updated"
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/sendBack": {
            "patch": {
                "tags": [
                    "Workflows"
                ],
                "summary": "Sends back the specified report",
                "description": "Sends back the specified report, returning it to an unsubmitted state.",
                "operationId": "sendBackReport",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "MANAGER"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendBackReport"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Report sent back successfully"
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not allowed to access this report \n\nCaller does not have permission to submit the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Specified context not supported\n\nInvalid reportId\n\nerror.workflow.noComments: Cannot send report back without providing comments. Add a comment to explain why you are returning the report\n\nno_approver: You must identify an approver before the expense report moves on to the next workflow step\n\ninvalid_auth_approver: This report cannot be sent to the next approver. This workflow step must be approved by a specialized approver called an Authorized Approver. The selected approver is not an Authorized Approver. Select another approver\n\nno_approver.not_editable_step: There are no approvers defined in your workflow. Please contact your Expense administrator\n\nwf_config_invalid_next_step: You must identify an approver before the expense report moves on to the next workflow step\n\nnot_an_approver: This report cannot be sent to the next approver because the selected approver is no longer authorized to approve reports. Please select another approver\n\nerror.workflow.invalid_report_key: The expense report no longer exists in the system\n\nerror.workflow.missing_alloc_reqd_fields: At least one required allocation field in this report lacks data. Please provide the appropriate value, and then approve the report\n\nreports.workflow.invalidFGIStep: The action cannot be executed because expense report is not in valid FGI obligation step\n\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/recall": {
            "patch": {
                "tags": [
                    "Workflows"
                ],
                "summary": "Recalls the specified report to an unsubmitted state",
                "description": "Recalls the specified report to an unsubmitted state.",
                "operationId": "recallReport",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER",
                                "PROXY"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RecallReport"
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Specified context not supported\n\nInvalid reportId\n\nerror.workflow.no_clearingcode: Either the credit card account or the payment type is missing a clearing account code. Contact your Expense administrator\n\nerror.workflow.invalid_action: The action cannot be executed because it is not valid for the report workflow\n\nerror.workflow.invalid_report_key: The expense report no longer exists in the system\n\nerror.recall.cannotRecall: Expense report cannot be recalled\n\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Report recalled successfully"
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not allowed to access this report \n\nCaller does not have permission to submit the report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/expenses/{expenseId}": {
            "get": {
                "tags": [
                    "external",
                    "Expenses"
                ],
                "summary": "Gets expense details for the specified expense",
                "description": "Returns expense details for the specified expense. Also returns a self link, plus each of the following links, contingent on the existence of the resource: allocations, attendees, comments, exceptions, formFields, itemizations, tax.",
                "operationId": "getReportExpenseDetail",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseId",
                        "in": "path",
                        "description": "The unique identifier of the expense",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER",
                                "PROXY"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Specified context not supported",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not allowed to access this report ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found\n\nexpenseId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Expense details successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportEntryDetail"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/approve": {
            "patch": {
                "tags": [
                    "Workflows"
                ],
                "summary": "Approves the specified report",
                "description": "Advances the specified report to approved status.",
                "operationId": "approveReport",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "MANAGER"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApproveReport"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Report successfully approved"
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Specified context not supported\n\nerror.workflow.no_clearingcode: Either the credit card account or the payment type is missing a clearing account code. Contact your Expense administrator\n\nerror.workflow.invalid_action: The action cannot be executed because it is not valid for the report workflow\n\nerror.workflow.incomplete_receipt_review: You have not finished reviewing all the receipts in this report.  Your company requires that you review receipts during approval\n\ncannot_approve_your_own_report: This expense report was created by you. You cannot approve your own report\n\nno_approver: You must identify an approver before the expense report moves on to the next workflow step\n\ninvalid_auth_approver: This report cannot be sent to the next approver. This workflow step must be approved by a specialized approver called an Authorized Approver. The selected approver is not an Authorized Approver. Select another approver\n\nno_approver.not_editable_step: There are no approvers defined in your workflow. Please contact your Expense administrator\n\nno_approver.change_my_info: Missing the required approver for next workflow step. You may be able to select an approver; otherwise contact your Expense administrator for assistance\n\nwf_config_invalid_next_step: You must identify an approver before the expense report moves on to the next workflow step\n\nnot_an_approver: This report cannot be sent to the next approver because the selected approver is no longer authorized to approve reports. Please select another approver\n\napprover_cum_reportowner: You cannot send this report to this approver since this person created this report\n\napprover_cum_reportowner.is_editableby: Your workflow is configured such that the report would come back to the report owner during some step. Please contact your Employee Administrator to change the approvers\n\ninstance_out_of_date: The approval workflow that this expense report uses has changed. Please select a new approver in order to approve and process this expense report\n\nreview_approval_flow_approver: Review Approvers in the workflow\n\ncost_object_step: The next approval step is a Cost object step and cannot be approved through Mobile\n\nstep_exit_blocking_by_exception: One or more blocking exceptions are preventing approval submission. Resolve the exception before proceeding\n\nreceiptimagehold.workflow.noapprover: Missing the required approver for next step. Cannot advance report out of imaging hold. Contact your Expense administrator for assistance\n\nerror.workflow.invalid_report_key: The expense report no longer exists in the system\n\nattendee_total_error: This report contains at least one entry with invalid attendee amounts.  Please correct the attendee amounts before approving\n\napprover_cashadvance_owner.is_editableby: Your workflow is configured such that the cash advance would come back to the cash advance owner during some step. Please contact your Employee Administrator to change the approvers\n\nerror.workflow.missing_alloc_reqd_fields: At least one required allocation field in this report lacks data. Please provide the appropriate value, and then approve the report\n\nerror.recall.cannotRecall: Expense report cannot be recalled\n\nerror.workflow.noComments: Cannot send report back without providing comments. Add a comment to explain why you are returning the report\n\nstatusId.invalidValue: Invalid 'statusId' value specified\n\ninvalid.approverId.query: Unable to find approver for the specified user id in the query string parameter.\n\ninvalidAction.currentStep: Approve and Forward operation ('forwardToUserId' querystring parameter in the request) is not supported on this workflow step.\n\nerror.workflow.missingComments: Comments are required to approve this report.\n\nerror.workflow.rejectedExpenseMissingComments: Some of the expenses were rejected on this report and expenseRejectedComment is required to approve this report.\n\nerror.workflow.CostObjectChangeMissingComments: Changes were made on this report that impact Cost Objects and a comment is required to approve this report.\n\nerror.workflow.BudgetObjectChangeMissingComments: Changes were made on this report that impact Budget Objects and a comment is required to approve this report.\n\nreports.workflow.invalidFGIStep: The action cannot be executed because expense report is not in valid FGI obligation step\n\nreports.workflow.operationNotAllowed: Cannot approve a report when it's in processing payment or paid state\n\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not allowed to modify this report ",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/users/{userId}/context/{contextType}/reports/{reportId}/allocations/{allocationId}": {
            "get": {
                "tags": [
                    "external",
                    "Allocations"
                ],
                "summary": "Gets specified allocation for the specified report.",
                "description": "Returns specified allocation for the specified report.",
                "operationId": "getAllocationById",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allocationId",
                        "in": "path",
                        "description": "The unique identifier of the expense allocation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER",
                                "PROXY"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type\n\nUser is not authorized to access this report with this context type",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid expenseId\n\nInvalid allocationId",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found\n\nallocationId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Allocation successfully retrieved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportAllocationResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Allocations"
                ],
                "summary": "Updates the specified allocation for the report",
                "description": "Updates the specified allocation for the report.",
                "operationId": "updateAllocation_1",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report that contains the expense associated with the allocations",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "allocationId",
                        "in": "path",
                        "description": "The unique identifier of the expense allocation",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The unique identifier of the Concur user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "contextType",
                        "in": "path",
                        "description": "The access level of the Concur user, which determines the form fields they can view/modify",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "TRAVELER",
                                "PROXY"
                            ]
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReportAllocation"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Successfully updated the allocation"
                    },
                    "404": {
                        "description": "reportId not found\n\nallocationId not found\n\nexpenseId not found\n\nThe policy of the specified report does not have an allocation form defined. Contact your Concur Administrator",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid field value specified\n\nInvalid expenseId\n\nInvalid allocationId\n\nUser does not have proper role",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Specified context type is invalid for this API. Review the documentation for supported context type\n\nSystem allocation cannot be modified\n\nUser is not authorized to access this report with this context type\n\nCaller does not have access permissions to perform the requested allocation operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/reports/{reportId}/sendBack": {
            "patch": {
                "tags": [
                    "external",
                    "Workflows"
                ],
                "summary": "Sends back the specified report",
                "description": "Sends back the specified report to report owner.",
                "operationId": "sendBackReportAsSystem",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendBackReportAsSystem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "403": {
                        "description": "Caller cannot modify System workflow step",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Report successfully sent back"
                    },
                    "400": {
                        "description": "Specified context not supported\n\nInvalid reportId\n\nerror.workflow.noComments: Cannot send report back without providing comments. Add a comment to explain why you are returning the report\n\nno_approver: You must identify an approver before the expense report moves on to the next workflow step\n\ninvalid_auth_approver: This report cannot be sent to the next approver. This workflow step must be approved by a specialized approver called an Authorized Approver. The selected approver is not an Authorized Approver. Select another approver\n\nno_approver.not_editable_step: There are no approvers defined in your workflow. Please contact your Expense administrator\n\nwf_config_invalid_next_step: You must identify an approver before the expense report moves on to the next workflow step\n\nnot_an_approver: This report cannot be sent to the next approver because the selected approver is no longer authorized to approve reports. Please select another approver\n\nerror.workflow.invalid_report_key: The expense report no longer exists in the system\n\nerror.workflow.missing_alloc_reqd_fields: At least one required allocation field in this report lacks data. Please provide the appropriate value, and then approve the report\n\nreports.workflow.invalidFGIStep: The action cannot be executed because expense report is not in valid FGI obligation step\n\n",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/reports/{reportId}/expenses/{expenseId}": {
            "patch": {
                "tags": [
                    "external",
                    "Expenses"
                ],
                "summary": "Updates (limited fields) the specified expense in an un-submitted or submitted report",
                "description": "Updates the specified expense in an un-submitted or submitted report and is restricted to modify 'Business Purpose', 'Custom/Org unit' and 'Expense Rejected' fields only",
                "operationId": "updateReportExpenseUsingShortURL",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "expenseId",
                        "in": "path",
                        "description": "The unique identifier of the expense",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateReportExpenseCompact"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Invalid field value specified\n\nCannot perform the operation as the report is already paid\n\nCannot replace receipt affidavit with receipt image",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Your request cannot be processed as the specified resource is locked for another process.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "User is not allowed to modify the reopened report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found\n\nexpenseId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Successfully updated the report expense"
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error. Retry your request again",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expensereports/v4/reports/{reportId}/approve": {
            "patch": {
                "tags": [
                    "external",
                    "Workflows"
                ],
                "summary": "Approves the specified report to the next step if it is in a system step",
                "description": "Advances the specified report to the next step if it is in a system step.",
                "operationId": "approveReportAsSystem",
                "parameters": [
                    {
                        "name": "reportId",
                        "in": "path",
                        "description": "The unique identifier of the report",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "accept-language",
                        "in": "header",
                        "description": "The unique identifier of the user's locale that indicates the language in which the API response should be formulated.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApproveReportAsSystem"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Report successfully approved"
                    },
                    "403": {
                        "description": "Caller cannot modify System workflow step",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Missing or invalid authorization header",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "reportId not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessage"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Specified context not supported\n\nerror.submit.Generic: An error occurred while submitting the selected report. The report was not submitted\n\nerror.submit.no_entries: The expense report has no expenses. You must create at least one expense in order to submit the report\n\nerror.workflow.no_clearingcode: Either the credit card account or the payment type is missing a clearing account code. Contact your Expense administrator\n\nerror.workflow.invalid_action: The action cannot be executed because it is not valid for the report workflow\n\nerror.workflow.incomplete_receipt_review: You have not finished reviewing all the receipts in this report.  Your company requires that you review receipts during approval\n\nerror.submit.rptXctMaxThreshold: This expense report cannot be submitted until all blocking exceptions are resolved\n\nerror.submit.entryXctMaxThreshold: This expense report cannot be submitted until all blocking exceptions are resolved\n\nerror.submit.undefined_expense_type: The expense report contains one or more expenses with an expense type of Undefined. You must select an expense type for each expense before you can submit the report\n\nerror.submit.missing_reqd_fields: At least one required field in this report is empty. Please provide a value and then submit the report\n\nerror.submit.missing_alloc_reqd_fields: At least one required allocation field in this report is empty. Please provide the appropriate value, and then submit the report\n\nerror.submit.missingKids: This report contains a Lodging expense that is not itemized. Lodging expenses must be itemized in the report before it can be submitted\n\nerror.submit.itemDiff: The expense report contains at least one itemized expense. The itemization amounts do not add up to the expense amount. Edit the itemized entries to make the required changes before submitting the report\n\nerror.submit.itemMissing: This report cannot be submitted because one or more entries must be itemized. Itemize the entries and then submit the report\n\nerror.submit.alreadySubmitted: The report has already been submitted and cannot be submitted again\n\nerror.submit.cannotSubmitAsDelegate: The report cannot be submitted by the Delegate\n\nerror.submit.cashadvance_cant_carry_balance: Cash Advances must be entirely utilized or returned. Please enter a Cash Advance Return on this report to return the remaining balance\n\nerror.submit.cashadvance_negative_balance: The Cash Advance Balance is negative because a Cash Advance Return is greater than the remaining balance. Either enter a Currency Gain/Loss expense to bring the balance to zero or adjust the Cash Advance Return amount to bring the balance to zero. Then, click Submit again\n\nerror.submit.single_row_itinerary: This report contains at least one itinerary with a single itinerary row. An itinerary is not valid until it has at least two rows. Please add another row to complete the itinerary\n\nerror.submit.invalidAttendeeType: This report contains at least one entry with an attendee of an invalid type.  Please remove the attendee(s) before submitting the report\n\ninfo.submit.notify_by_delegate: A notification has been sent to the employee\n\ncannot_approve_your_own_report: This expense report was created by you. You cannot approve your own report\n\nno_approver: You must identify an approver before the expense report moves on to the next workflow step\n\ninvalid_auth_approver: This report cannot be sent to the next approver. This workflow step must be approved by a specialized approver called an Authorized Approver. The selected approver is not an Authorized Approver. Select another approver\n\nno_approver.not_editable_step: There are no approvers defined in your workflow. Please contact your Expense administrator\n\nno_approver.change_my_info: Missing the required approver for next workflow step. You may be able to select an approver; otherwise contact your Expense administrator for assistance\n\nwf_config_invalid_next_step: You must identify an approver before the expense report moves on to the next workflow step\n\nnot_an_approver: This report cannot be sent to the next approver because the selected approver is no longer authorized to approve reports. Please select another approver\n\napprover_cum_reportowner: You cannot send this report to this approver since this person created this report\n\napprover_cum_reportowner.is_editableby: Your workflow is configured such that the report would come back to the report owner during some step. Please contact your Employee Administrator to change the approvers\n\ninstance_out_of_date: The approval workflow that this expense report uses has changed. Please select a new approver in order to approve and process this expense report\n\nreview_approval_flow_approver: Review Approvers in the workflow\n\ncost_object_step: The next approval step is a Cost object step and cannot be approved through Mobile\n\nstep_exit_blocking_by_exception: One or more blocking exceptions are preventing approval submission. Resolve the exception before proceeding\n\nreceiptimagehold.workflow.noapprover: Missing the required approver for next step. Cannot advance report out of imaging hold. Contact your Expense administrator for assistance\n\nerror.workflow.invalid_report_key: The expense report no longer exists in the system\n\nattendee_total_error: This report contains at least one entry with invalid attendee amounts.  Please correct the attendee amounts before approving\n\napprover_cashadvance_owner.is_editableby: Your workflow is configured such that the cash advance would come back to the cash advance owner during some step. Please contact your Employee Administrator to change the approvers\n\nerror.workflow.missing_alloc_reqd_fields: At least one required allocation field in this report lacks data. Please provide the appropriate value, and then approve the report\n\nerror.recall.cannotRecall: Expense report cannot be recalled\n\nerror.workflow.noComments: Cannot send report back without providing comments. Add a comment to explain why you are returning the report\n\nstatusId.invalidValue: Invalid 'statusId' value specified\n\ninvalid.approverId.query: Unable to find approver for the specified user id in the query string parameter.\n\ninvalidAction.currentStep: Approve and Forward operation ('forwardToUserId' querystring parameter in the request) is not supported on this workflow step.\n\nerror.workflow.missingComments: Comments are required to approve this report.\n\nerror.workflow.rejectedExpenseMissingComments: Some of the expenses were rejected on this report and expenseRejectedComment is required to approve this report.\n\nerror.workflow.CostObjectChangeMissingComments: Changes were made on this report that impact Cost Objects and a c
[...]
