{
  "swagger": "2.0",
  "info": {
    "title": "Spend Documents API",
    "version": "4.0"
  },
  "host": "us.api.concursolutions.com",
  "basePath": "/spend-documents/v4/receipts",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/spend-documents/v4/receipts/{receiptId}/representations": {
      "get": {
        "description": "Retrive receipt document representations based on type",
        "tags": [
          "Spend Documents"
        ],
        "operationId": "getComplianceDocuments",
        "deprecated": false,
        "parameters": [
          {
            "name": "receiptId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Universally unique identifier of a Receipt in Concur"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Type of document. eg: compliance"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        }
      }
    }
  }
}