{
  "x-sap-shortText": "Manages the vendors that send you invoices.",
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.1",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "info": {
    "title": "Vendors",
    "description": "An invoice is a bill of sale for goods or services provided by a vendor. This API provides methods to create, update, or delete invoice vendors.",
    "version": "3.1"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/invoice/vendors": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Retrieves an existing vendor.",
        "description": "Gets an existing vendor. Note: If authenticating with a Company access token the API will return all vendors associated with a specific entity.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to be returned in a  response. The default is 25 and cannot exceed 1000.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Specifies the starting point for the next query when iterating through the collection response.  Use with paged collections of resources.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "ascending or descending, The default value will be ascending.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field you need to the results to be sorted by. Vendor Name will be made default if no value is sent. Only fields that are added to the vendor form can be used here. Fields have to be specified by name as specified in Doc.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchType",
            "in": "query",
            "description": "Applies for the entire given search parameters. The default value is exact. Supported values: exact, begins, contains, ends",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendorCode",
            "in": "query",
            "description": "Vendor Code to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "vendorName",
            "in": "query",
            "description": "Vendor Name to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "taxID",
            "in": "query",
            "description": "Tax ID to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "buyerAccountNumber",
            "in": "query",
            "description": "Buyer Account Number to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "addressCode",
            "in": "query",
            "description": "Address Code to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "paymentMethodType",
            "in": "query",
            "description": "Payment Method Type to be searched. Valid values are ACH, CARD, CHECK, CLIENT, PAYPVD, VCHER, WIRE",
            "required": false,
            "type": "string"
          },
          {
            "name": "address1",
            "in": "query",
            "description": "Address 1 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "address2",
            "in": "query",
            "description": "Address 2 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "address3",
            "in": "query",
            "description": "Address 3 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "City to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "State to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "postalCode",
            "in": "query",
            "description": "Postal Code to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "approved",
            "in": "query",
            "description": "Find Approved/Un Approved Vendors , True/False",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom1",
            "in": "query",
            "description": "Custom 1 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom2",
            "in": "query",
            "description": "Custom 2 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom3",
            "in": "query",
            "description": "Custom 3 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom4",
            "in": "query",
            "description": "Custom 4 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom5",
            "in": "query",
            "description": "Custom 5 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom6",
            "in": "query",
            "description": "Custom 6 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom7",
            "in": "query",
            "description": "Custom 7 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom8",
            "in": "query",
            "description": "Custom 8 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom9",
            "in": "query",
            "description": "Custom 9 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom10",
            "in": "query",
            "description": "Custom 10 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom11",
            "in": "query",
            "description": "Custom 11 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom12",
            "in": "query",
            "description": "Custom 12 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom13",
            "in": "query",
            "description": "Custom 13 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom14",
            "in": "query",
            "description": "Custom 14 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom15",
            "in": "query",
            "description": "Custom 15 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom16",
            "in": "query",
            "description": "Custom 16 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom17",
            "in": "query",
            "description": "Custom 17 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom18",
            "in": "query",
            "description": "Custom 18 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom19",
            "in": "query",
            "description": "Custom 19 to be searched",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom20",
            "in": "query",
            "description": "Custom 20 to be searched",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VendorCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Creates new vendors.",
        "description": "Creates a new vendor and returns the status of creation.",
        "parameters": [
          {
            "name": "vendors",
            "in": "body",
            "description": "The vendor details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorCollection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VendorCollection"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Manages existing vendors.",
        "description": "Updates existing vendors and returns the update status.",
        "parameters": [
          {
            "name": "vendors",
            "in": "body",
            "description": "The vendor details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorCollection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VendorCollection"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Deletes a vendor.",
        "description": "Deletes a vendor by Vendor Code and Address Code.",
        "parameters": [
          {
            "name": "vendorCode",
            "in": "query",
            "description": "Vendor Code to be deleted",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressCode",
            "in": "query",
            "description": "Address Code to be deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VendorCollection"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Status": {
      "properties": {
        "Code": {
          "type": "integer",
          "format": "int32",
          "description": "Code of request result"
        },
        "Message": {
          "type": "string",
          "description": "Message of request result"
        },
        "RecordNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Record Number for create/update request."
        },
        "Type": {
          "type": "string",
          "description": "Type request result"
        }
      }
    },
    "Vendor": {
      "properties": {
        "AccountNumber": {
          "type": "string",
          "description": "This field represents a buyer's account number as provided by the vendor to the buyer for identification purposes.\n*NOTES*:\n• Invoice Pay service field only – does not display in Payment Request Accounting extract and cannot be used to copy down data.\n• Use N as the field value to clear this field of any existing value.\n• This field is mapped to the 200-record level, column 7 \"(Buyer's) Account Number\" field in the overnight import.\nMaximum 50 characters; case insensitive"
        },
        "Address1": {
          "type": "string",
          "description": "The field limit of 50 characters matches the printing limit for checks in Invoice Pay. You can exceed the 50-character limit if you are not using checks in Invoice Pay.\n*NOTE*: This field is required to issue a check payment to your vendor using Concur Pay.\n*NOTE*: To facilitate distinguishing among vendors with similar names and addresses, consider putting extra information in Custom vendor fields.\nMaximum 50 characters if using checks in Invoice Pay\n- or -\nmaximum 255 characters"
        },
        "Address2": {
          "type": "string",
          "description": "The field limit of 50 characters matches the printing limit for checks in Invoice Pay. You can exceed the 50-character limit if you are not using checks in Invoice Pay.\n*NOTE*: To facilitate distinguishing among vendors with similar names and addresses, consider putting extra information in Custom vendor fields.\nmaximum 50 characters if using checks in Invoice Pay\n- or -\nmaximum 255 characters"
        },
        "Address3": {
          "type": "string",
          "description": "For Invoice Pay clients, this field will not print on the check that is issued.\n*NOTE*: To facilitate distinguishing among vendors with similar names and addresses, consider putting extra information in Custom vendor fields.\nMaximum 255 characters"
        },
        "AddressCode": {
          "type": "string",
          "required": true,
          "description": "It is the code the system-of- record for the Vendor Master List uses to identify a vendor address. This code must be unique for the specified Vendor Code. If your financial system does not have a code for this purpose, you must create one for the import (it is a required field).\nFor example, you might be able to use the Postal Code for the address as a \"Vendor Address Code\". Another example, use the first 32 characters of the Address 1 line. It simply needs to be a value with up to 32 characters that is unique for the specified Vendor Code.\nMaximum 32 characters; case insensitive"
        },
        "AddressImportSyncID": {
          "type": "string",
          "description": "Concur Invoice generates this ID when an employee requests a new vendor. The Employee Request Vendor Extract provides this value to identify the vendor address record when re- importing vendors from the client's system-of-record for the Vendor Master List.\nMaximum 20 characters; case insensitive"
        },
        "Approved": {
          "type": "string",
          "description": "Vendor Approval Status(Y/N)."
        },
        "City": {
          "type": "string",
          "description": "The city of the vendor.\nMaximum 255 characters; case insensitive."
        },
        "ContactEmail": {
          "type": "string",
          "description": "The email address of the vendor.\nRequired if the Payment Type value is Card Voucher (VCHER).\nMaximum 255 characters each; case insensitive."
        },
        "ContactFirstName": {
          "type": "string",
          "description": "This is the first name of the person who is the primary contact for this vendor address.\nMaximum 255 characters; case insensitive."
        },
        "ContactLastName": {
          "type": "string",
          "description": "This is the last name of the person who is the primary contact for this vendor address.\nMaximum 255 characters; case insensitive."
        },
        "ContactPhoneNumber": {
          "type": "string",
          "description": "This is the telephone number for the person who is the primary contact for this vendor address.\nMaximum 25 characters; case insensitive."
        },
        "Country": {
          "type": "string",
          "description": "The Vendor Country."
        },
        "CountryCode": {
          "type": "string",
          "required": true,
          "description": "This is an ISO 2-character country code.\n*IMPORTANT NOTE*: The 2- character code must be upper case and is required to be populated.\n2 characters; case sensitive, ISO Country Code."
        },
        "CurrencyCode": {
          "type": "string",
          "required": true,
          "description": "This field represents the 3- character Alpha Code of the reimbursement currency for a vendor and is required to be populated.\nMaximum 3 characters; case insensitive."
        },
        "Custom1": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom10": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom11": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom12": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom13": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom14": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom15": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom16": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom17": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom18": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom19": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom2": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom20": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom3": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom4": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom5": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom6": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom7": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom8": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "Custom9": {
          "type": "string",
          "description": "This field is one of the custom fields for the Vendor Address Form. This custom field will be validated using the custom field definitions for the Vendor Address Form.\nMaximum 48 characters each; case insensitive."
        },
        "DefaultEmployeeID": {
          "type": "string",
          "description": "This field represents the employee ID of the default employee associated with a vendor.\n*NOTE*: Use N as the field value to clear this field of any existing value.\nMaximum 48 characters; case insensitive."
        },
        "DefaultExpenseTypeName": {
          "type": "string",
          "description": "This field represents the name (in English) of the default Expense Type associated with a vendor.\n*NOTE*: Use N as the field value to clear this field of any existing value.\nMaximum 64 characters; case insensitive."
        },
        "DiscountPercentage": {
          "type": "string",
          "description": "This field represents the discount percentage for a vendor.\n*NOTE*: The data in this field is for information purposes only. It is not used in any calculations.\nNumber (11,8) 11 numbers maximum, with no more than 8 numbers to the right of the decimal."
        },
        "DiscountTermsDays": {
          "type": "string",
          "description": "This field represents the discount terms, in days, for a vendor.\n*NOTE*: The data in this field is for information purposes only. It is not used in any calculations.\nInteger greater than 0 and less than 999."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "IsLineItemVatIncld": {
          "type": "string",
          "description": "This indicates if VAT is included in the unit price and thus showing up in the line item and header of the invoice.\n1 character (Y or N), default of N; case insensitive."
        },
        "IsVisibleForContentExtraction": {
          "type": "string",
          "description": "*NOTE*: Ignored if Capture Processing is not enabled for your company.\nThis field gives the option of including or excluding the vendor who is available for selection through the OCR engine in capture processing.\nSelect N if you want to hide the vendor. Select Y if you want the vendor to be visible.\n1 character (Y or N), default of Y; case insensitive."
        },
        "PaymentMethodType": {
          "type": "string",
          "description": "If no value is provided in this record, the default for this record becomes CLIENT (Client Pay or removed from payment by Invoice Pay).\nAccepted values:\n• ACH\n• CHECK\n• CLIENT (Default if no value entered)\n• WIRE\n• PAYPVD (Payment\nProvider)\n• CARD\n• VCHER (Card Voucher)"
        },
        "PaymentTerms": {
          "type": "string",
          "description": "This field represents the number of days by which a payment must be made, for example, 30 days.\nInteger, between 1 and 999."
        },
        "PostalCode": {
          "type": "string",
          "description": "The postal code of the vendor.\nMaximum 20 characters; case insensitive."
        },
        "ProvincialTaxID": {
          "type": "string",
          "description": "This is the unique tax identification number for a vendor based on which province the vendor is located.\nMaximum 15 alphanumeric characters (a combination of letters and numbers)."
        },
        "PurchaseOrderContactEmail": {
          "type": "string",
          "description": "The email address for this vendor for purchase order.\nMaximum 255 characters each; case insensitive."
        },
        "PurchaseOrderContactFirstName": {
          "type": "string",
          "description": "This is the first name of the person who is the primary contact for this vendor address.\nMaximum 255 characters; case insensitive."
        },
        "PurchaseOrderContactLastName": {
          "type": "string",
          "description": "This is the last name of the person who is the primary contact for this vendor address.\nMaximum 255 characters; case insensitive."
        },
        "PurchaseOrderContactPhoneNumber": {
          "type": "string",
          "description": "This is a representation of the phone number of the person who is the primary contact for this vendor address for purchase order.\nFor example:\n• Sally’s phone \n• 203 655 9972 \n• Ext 05634\nMaximum 25 characters each; case insensitive."
        },
        "ShippingMethod": {
          "type": "string",
          "description": "The code representing the shipping method by which the supplier ships an item.\nMaximum 10 characters."
        },
        "ShippingTerms": {
          "type": "string",
          "description": "The code representing shipping terms with a supplier.\nMaximum 10 characters."
        },
        "State": {
          "type": "string",
          "description": "The state of the vendor.\n*NOTE*: If you use Check Pay and a US state is imported, the value must be the 2-character US state code.\n*IMPORTANT NOTE*: The State fields are now required if the selected vendor has a country defined that requires the state or region to be populated due to the SAP Export Control and Sanctions Compliance Policy.\nFor example, Ukraine is a country that is not completely embargoed so the State field will be required, and the field value validated against the embargoed states. If the selected vendor is from a non-embargoed country, then the State field is not mandatory.\nMaximum 255 characters; case insensitive."
        },
        "StatusList": {
          "$ref": "#/definitions/Status"
        },
        "TaxID": {
          "type": "string",
          "description": "This is the vendor's unique tax identification number.\n*NOTE*: If two or more records include identical Vendor Code and Vendor Name values, then this record must also be identical for each record; otherwise leave this record blank.\n*NOTE*: The Tax ID will not be encrypted in the database.\nMaximum 48 characters; case insensitive."
        },
        "TaxType": {
          "type": "string",
          "description": "This is the tax status of the vendor. Select one of the following options:\nOne of the following values only:\n• DITX: Domestic - Taxable\n• DNTX: Domestic - Non Taxable\n• INTX: International – Non- Taxable"
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "VendorBankList": {
          "$ref": "#/definitions/VendorBank"
        },
        "VendorCode": {
          "type": "string",
          "required": true,
          "description": "This code is used to identify this specific vendor. It is the code the system-of-record for the Vendor Master List uses to identify a vendor.\n*NOTE*: For any given Vendor Code there is one Vendor Name. Example: If the same company conducts business as both Acme Paints and San Diego Paints, it must either only do business as San Diego Paints, or register for two different vendor codes, one for each name.\nMaximum 32 characters; case insensitive."
        },
        "VendorFormName": {
          "type": "string",
          "description": "This field represents the name (in English) of the vendor form associated with a vendor.\n*NOTE*: Use N as the field value to clear this field of any existing value.\nMaximum 64 characters; case insensitive."
        },
        "VendorGroupList": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The URI of the next page of results, if any."
          },
          "description": "The list of vendor groups by name."
        },
        "VendorName": {
          "type": "string",
          "description": "The name of the vendor.\nMaximum 255 characters;case insensitive."
        },
        "VoucherNotes": {
          "type": "string",
          "description": "Notes that are included in the Payment Card Voucher email when the Card Voucher (VCHER) payment type is used.\nMaximum 250 characters; case insensitive."
        }
      }
    },
    "VendorBank": {
      "properties": {
        "AccountNumber": {
          "type": "string",
          "description": "The exact account number, conforming to the standard format for bank account numbers for the banking country, as:\n• *US and Australia*: Account Number\n• *Euro*: IBAN\n• *UK*: IBAN\n*NOTE*: The Account Number/IBAN is encrypted in the database.\nInteger(s), as conforming\nto country (see right)."
        },
        "AccountType": {
          "type": "string",
          "description": "The account type, either checking or savings. Valid entries for:\n*U.S.*:\n• CHCK (checking)\n• SAVE (savings)\n*All other countries*:\nCHCK (checking)\nMaximum 4 characters; case insensitive."
        },
        "AddressCode": {
          "type": "string",
          "description": "This code is used to identify the specific vendor address.\nIf provided, the banking information will be associated to the specific address for the vendor.\nIf not provided, the banking will be shared across all vendor addresses tied to this vendor.\nMaximum 32 characters; case insensitive."
        },
        "BankCode": {
          "type": "string",
          "description": "The bank code or the institution number associated with the account."
        },
        "BankName": {
          "type": "string",
          "description": "The host bank name.\n*Optional for US and Canadian banks"
        },
        "BranchCode": {
          "type": "string",
          "description": "The branch code or branch number of the account."
        },
        "BranchLocation": {
          "type": "string",
          "description": "The location of the bank branch where the account was opened.\n*Optional for US and Canadian banks"
        },
        "CountryCode": {
          "type": "string",
          "description": "The 2-character code for the country of origin for the banking account.\nIf no value is supplied, the import defaults to US as the country code.\nIf provided, enter a valid country code, such as US, AU, or GB. If left with a blank value, the field defaults to US.\n*IMPORTANT NOTE*: The 2- character country code must be upper case.\nMaximum 2 characters; case insensitive"
        },
        "CurrencyAlphaCode": {
          "type": "string",
          "description": "The alpha code for the currency of the account, for example, USD.\nIf provided, must be USD, EUR, AUD, or GBP until other currency support is provided in a future release. If left with a blank value, defaults to USD.\nMaximum 3 characters; case insensitive"
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "IsActive": {
          "type": "string",
          "description": "Indicates if the account is active or inactive\nValid entries: \nY (is active) \nN (is inactive)\nMaximum 1 character; case insensitive"
        },
        "NameOnAccount": {
          "type": "string",
          "description": "The exact name associated with the account, for example, ABC Corporation.\nMaximum 100 character; case insensitive"
        },
        "RoutingNumber": {
          "type": "string",
          "description": "The exact routing number, conforming to the standard format for routing numbers for the banking country, as:\n• *US*: Routing Number\n• *Euro*: BIC (Swift code) • *UK*: Not Used\n• *Australia*: BSB Code\n*NOTE*: The Routing Number/SWIFT/BSB Code is encrypted in the database."
        },
        "StatusList": {
          "$ref": "#/definitions/Status"
        },
        "TransType": {
          "type": "string",
          "description": "The type of transaction to pay the banking account.\nIf provided, must be ACH.\nMaximum 3 characters; case insensitive"
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        },
        "VendorCode": {
          "type": "string",
          "description": "This code is used to identify this specific vendor. It is the code the system-of-record for the Vendor Master List uses to identify a vendor.\n*NOTE*: For any given Vendor Code there is one Vendor Name.\n*Example*:\nIf the same company conducts business as both Acme Paints and San Diego Paints, it must either only do business as San Diego Paints, or register for two different vendor codes, one for each name.\nMaximum 32 characters; case insensitive"
        }
      }
    },
    "VendorCollection": {
      "properties": {
        "Vendor": {
          "$ref": "#/definitions/Vendor"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "RequestRunSummary": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        },
        "TotalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Record Number for create/update request."
        },
        "Items": {
        }
      }
    },
    "Error": {
      "properties": {
        "Message": {
          "type": "string",
          "description": "The error message for Vendor create/update."
        }
      }
    }
  }
}
