---
layout: default
---

<div class="container-fluid content">
  <div class="row">
    <div id="left-navigation"
         class="col-md-2 left-navigation">
      {% include left-navigation.html %}
    </div>
    <!--/col-md-3-->

    {% if page.reference-type == 'swagger' %}
    <div id="markdown-body"
         class="col-md-10 markdown-body">
      <div class="form-group">
        <label for="input_apiKey">Access Token</label>
        <input class="form-control"
               id="input_apiKey"
               type="text">
      </div>
      {% else %}
      <div id="markdown-body"
           class="col-md-8 markdown-body">
        {% endif %}

        {{ content }}
      </div>
      <!--/col-md-8-->
      {% if page.reference-type != 'swagger' %}
      <div id="markdown-toc"
           class="col-md-2 markdown-toc">
        {% include pagetoc.html %}
      </div>
      <!--/col-md-1-->
      {% endif %}
    </div>
    <!--/row-->
  </div>
  <!--/container-->

  {% include tocbot.html %}
