---
layout: default
---

{% include breadcrumb.html %}

<div class="container content">
  <div class="row">
    <div class="col-md-3 left-navigation">
      {% include left-navigation.html %}
    </div>
    <!--/col-md-3-->

    {% if page.reference-type == 'swagger' %}
    <div class="col-md-9 markdown-body">
      <div class="form-group">
        <label for="input_apiKey">Access Token</label>
        <input class="form-control"
               id="input_apiKey"
               type="text">
      </div>
      {% else %}
      <div class="col-md-8 markdown-body">
        {% endif %}

        {{ content }}
      </div>
      <!--/col-md-8-->
      {% if page.reference-type != 'swagger' %}
      <div class="col-md-1 markdown-toc">
        {% include pagetoc.html %}
      </div>
      <!--/col-md-1-->
      {% endif %}
    </div>
    <!--/row-->
  </div>
  <!--/container-->

  {% include tocbot.html %}
