{
  "x-sap-shortText": "Retrieves and updates digital tax invoices for fiscal compliance",
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
      "tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
      "flow": "application"
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "info": {
    "title": "Digital Tax Invoices",
    "description": "Enables digital tax invoice validators to view and update tax invoices with a validation status. Currently supports the Comprobante Fiscal Digital (CFD) format used in Mexico.",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/expense/digitaltaxinvoices": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get digital tax invoices",
        "description": "Gets all digital tax invoices that can be validated by the user based on the search criteria.",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The starting point of the next set of results, after the limit specified in the limit field has been reached.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return. Default value: 25",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "modifiedafter",
            "in": "query",
            "description": "A modification date for the queue record; this parameter can be used to limit the results of the GET request to the queue items that have been added since the last time the validation company queried the queue. The user must have the Web Services Admin role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DigitalTaxInvoiceCollection"
            }
          }
        }
      }
    },
    "/expense/digitaltaxinvoices/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a single digital tax invoice",
        "description": "Gets the specified digital tax invoice.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the digital tax invoice.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DigitalTaxInvoiceGetSingle"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Update a digital tax invoice",
        "description": "Updates the specified digital tax invoice.",
        "parameters": [
          {
            "name": "content",
            "in": "body",
            "description": "A status update for the digital tax invoice.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigitalTaxInvoicePut"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the digital tax invoice to update.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DigitalTaxInvoiceCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/DigitalTaxInvoiceGetAll"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "DigitalTaxInvoiceGetAll": {
      "properties": {
        "ConcurReceiptID": {
          "type": "string",
          "description": "The ID of the digital tax invoice in plain text."
        },
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "DigitalTaxInvoiceGetSingle": {
      "properties": {
        "AccountID": {
          "type": "string",
          "description": "The unique identifier assigned by the validation partner to the SAP Concur client company that owns the digital tax invoices."
        },
        "ConcurReceiptID": {
          "type": "string",
          "description": "The ID of the digital tax invoice in plain text."
        },
        "DocumentID": {
          "type": "string",
          "description": "The ID of the report in plain text."
        },
        "ReceiptData": {
          "type": "string",
          "description": "The digital tax invoice data."
        }
      }
    },
    "DigitalTaxInvoicePut": {
      "properties": {
        "Comment": {
          "type": "string",
          "description": "A comment that describes the digital tax invoice status. Maximum length: 2000 characters"
        },
        "Status": {
          "type": "string",
          "description": "A status that describes the digital tax invoice. Format: VALID - Valid; INVLD - Invalid; WARNG - Valid with warnings "
        }
      }
    },
    "Void": {
      "properties": {}
    }
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/v3.0",
      "description": "Concur API EndPoint"
    }
  ]
}
