{
  "x-sap-shortText": "Uploads and retrieves receipt images attached to expense reports",
  "swagger": "2.0",
  "host": "www.concursolutions.com",
  "basePath": "/api/v3.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
		"OAuth2": {
			"type": "oauth2",
			"description": "To use this API, you need to get OAuth client credentials (client ID, secret, and geolocation) from SAP Concur, and be authorized to use the relevant scope. Refer to the <a href=\"https://developer.concur.com/api-reference/authentication/getting-started.html\">full authentication information</a> for more information.",
			"tokenUrl": "https://us.api.concursolutions.com/oauth2/v0",
			"flow": "application"
		}
	},
  "security": [
		{
			"OAuth2": []
		}
	],
  "info": {
    "title": "Receipt Images",
    "description": "Management of receipt images attached to expense reports, expense entries, and payment requests. Supports uploading new images and retrieving existing images by ID. For extracting images from final approved reports, use the Image v1 API instead.",
    "version": "3.0"
  },
  "tags": [
    {
      "name": "Resources",
      "description": ""
    }
  ],
  "paths": {
    "/expense/receiptimages": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get all receipt IDs by user",
        "description": "Get a list of all receipt IDs owned by the user associated with the access token",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Starting page offset",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return (default 25)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReceiptImageCollection"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Create a receipt image",
        "description": "Upload a new receipt image.",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "image",
            "in": "body",
            "description": "Image data file",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReceiptImage"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    },
    "/expense/receiptimages/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a receipt image URL",
        "description": "Get a receipt image URL by image ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ReceiptImage ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReceiptImage"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Append a receipt image",
        "description": "Appends a receipt image to an existing image. The resulting image will be a consolidated PDF.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the receipt image to update",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "image",
            "in": "body",
            "description": "Image data file",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resources"
        ],
        "summary": "Delete a receipt image by ID",
        "description": "Deletes the specified receipt image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the receipt image to delete",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The login ID of the user. Optional. The user must have the Web Services Admin (Professional) or Can Administer (Standard) user role to use this parameter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Void"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ReceiptImage": {
      "properties": {
        "ID": {
          "type": "string",
          "description": "The unique identifier of the resource."
        },
        "URI": {
          "type": "string",
          "description": "The URI to the resource."
        }
      }
    },
    "ReceiptImageCollection": {
      "properties": {
        "Items": {
          "$ref": "#/definitions/ReceiptImage"
        },
        "NextPage": {
          "type": "string",
          "description": "The URI of the next page of results, if any."
        }
      }
    },
    "Void": {
      "properties": {}
    }
  },
  "x-servers": [
    {
      "url": "https://www.concursolutions.com/api/v3.0",
      "description": "Concur API EndPoint"
    }
  ]
}
